openapi: 3.1.0
info:
  title: '[AW]R3系 WebAPIテストケース整理'
  version: 1.0.0
servers:
  - url: https://sample.atled.jp/AgileWorks/Broker
  
security:
  - bearerAuth: []
tags:
  - name: 組織API

paths:
  /WebApi/Service?name=org.Org&method=addUser:
    post:
      tags:
        - 組織API
      summary: ユーザー作成
      description: |
        ユーザーを作成します。
      operationId: AddUser
      requestBody:
        $ref: "#/components/requestBodies/AddUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/UserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findUser:
    post:
      tags:
        - 組織API
      summary: ユーザー参照
      description: |
        指定されたパラメータのユーザーを参照します。<br>
        ユーザーの参照には、基準日を指定する必要があります。<br>
        指定した基準日が適用期間内に含まれるユーザーを参照します。<br>
        また、columnValueConditionListで検索条件を指定できます。
      operationId: FindUser
      requestBody:
        $ref: "#/components/requestBodies/FindUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindUserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateUser:
    post:
      tags:
        - 組織API
      summary: ユーザー更新
      description:
        ユーザーを更新します。
      operationId: UpdateUser
      requestBody:
        $ref: "#/components/requestBodies/UpdateUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/UserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
          
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteUser:
    post:
      tags:
        - 組織API
      summary: ユーザー削除
      description:
        ユーザーを削除します。
      operationId: DeleteUser
      requestBody:
        $ref: "#/components/requestBodies/DeleteUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableUser:
    post:
      tags:
        - 組織API
      summary: ユーザー適用終了
      description:
        ユーザーを適用終了します。
      operationId: DisableUser
      requestBody:
        $ref: "#/components/requestBodies/DisableUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableUserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"

 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addUnit:
    post:
      tags:
        - 組織API
      summary: 組織作成
      description:
        組織を作成します。
      operationId: addUnit
      requestBody:
        $ref: "#/components/requestBodies/AddUnitRequest"
      responses:
        "200":
          $ref: "#/components/responses/UnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findUnit:
    post:
      tags:
        - 組織API
      summary: 組織参照
      description:
        組織を参照します。
      operationId: findUnit
      requestBody:
        $ref: "#/components/requestBodies/FindUnitRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindUnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateUnit:
    post:
      tags:
        - 組織API
      summary: 組織更新
      description:
        組織を更新します。
      operationId: updateUnit
      requestBody:
        $ref: "#/components/requestBodies/UpdateUnitRequest"
      responses:
        "200":
          $ref: "#/components/responses/UnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteUnit:
    post:
      tags:
        - 組織API
      summary: 組織削除
      description:
        組織を削除します。
      operationId: deleteUnit
      requestBody:
        $ref: "#/components/requestBodies/DeleteUnitRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableUnit:
    post:
      tags:
        - 組織API
      summary: 組織適用終了
      description:
        組織を適用終了します。
      operationId: disableUnit
      requestBody:
        $ref: "#/components/requestBodies/DisableUnitRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableUnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addSectionRole:
    post:
      tags:
        - 組織API
      summary: セクションロール作成
      description:
        セクションロールを作成します。
      operationId: addSectionRole
      requestBody:
        $ref: "#/components/requestBodies/AddSectionRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findSectionRole:
    post:
      tags:
        - 組織API
      summary: セクションロール参照
      description:
        セクションロールを参照します。
      operationId: findSectionRole
      requestBody:
        $ref: "#/components/requestBodies/FindSectionRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindSectionRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateSectionRole:
    post:
      tags:
        - 組織API
      summary: セクションロール更新
      description:
        セクションロールを更新します。
      operationId: updateSectionRole
      requestBody:
        $ref: "#/components/requestBodies/UpdateSectionRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteSectionRole:
    post:
      tags:
        - 組織API
      summary: セクションロール削除
      description:
        セクションロールを削除します。
      operationId: deleteSectionRole
      requestBody:
        $ref: "#/components/requestBodies/DeleteSectionRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addSectionRoleGroup:
    post:
      tags:
        - 組織API
      summary: セクションロールグループ作成
      description:
        セクションロールグループを作成します。
      operationId: addSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/AddSectionRoleGroupRequest"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleGroupResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findSectionRoleGroup:
    post:
      tags:
        - 組織API
      summary: セクションロールグループ参照
      description:
        セクションロールグループを参照します。
      operationId: findSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/FindSectionRoleGroupRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindSectionRoleGroupResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateSectionRoleGroup:
    post:
      tags:
        - 組織API
      summary: セクションロールグループ更新
      description:
        セクションロールグループを更新します。
      operationId: updateSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/UpdateSectionRoleGroupRequest"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleGroupResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteSectionRoleGroup:
    post:
      tags:
        - 組織API
      summary: セクションロールグループ削除
      description:
        セクションロールグループを削除します。
      operationId: deleteSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/DeleteSectionRoleGroupRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addUnitAppointment:
    post:
      tags:
        - 組織API
      summary: 組織所属作成
      description:
        組織所属を作成します。
      operationId: addUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddUnitAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/UnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findUnitAppointment:
    post:
      tags:
        - 組織API
      summary: 組織所属参照
      description:
        組織所属を参照します。
      operationId: findUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindUnitAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindUnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateUnitAppointment:
    post:
      tags:
        - 組織API
      summary: 組織所属更新
      description:
        組織所属を更新します。
      operationId: updateUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateUnitAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/UnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteUnitAppointment:
    post:
      tags:
        - 組織API
      summary: 組織所属削除
      description:
        組織所属を削除します。
      operationId: deleteUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteUnitAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableUnitAppointment:
    post:
      tags:
        - 組織API
      summary: 組織所属適用終了
      description:
        組織所属を適用終了します。
      operationId: disableUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableUnitAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableUnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addProxyApplyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理申請作成
      description:
        代理申請を作成します。
      operationId: addProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddProxyApplyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findProxyApplyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理申請参照
      description:
        代理申請を参照します。
      operationId: findProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindProxyApplyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateProxyApplyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理申請更新
      description:
        代理申請を更新します。
      operationId: updateProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateProxyApplyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteProxyApplyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理申請削除
      description:
        代理申請を削除します。
      operationId: deleteProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteProxyApplyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableProxyApplyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理申請適用終了
      description:
        代理申請を適用終了します。
      operationId: disableProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableProxyApplyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addProxyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理承認作成
      description:
        代理承認を作成します。
      operationId: addProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddProxyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findProxyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理承認参照
      description:
        代理承認を参照します。
      operationId: findProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindProxyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateProxyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理承認更新
      description:
        代理承認を更新します。
      operationId: updateProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateProxyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteProxyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理承認削除
      description:
        代理承認を削除します。
      operationId: deleteProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteProxyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableProxyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理承認適用終了
      description:
        代理承認を適用終了します。
      operationId: disableProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableProxyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addDelegationAppointment:
    post:
      tags:
        - 組織API
      summary: 権限委譲作成
      description:
        権限委譲を作成します。
      operationId: addDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddDelegationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findDelegationAppointment:
    post:
      tags:
        - 組織API
      summary: 権限委譲参照
      description:
        権限委譲を参照します。
      operationId: findDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindDelegationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindDelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateDelegationAppointment:
    post:
      tags:
        - 組織API
      summary: 権限委譲更新
      description:
        権限委譲を更新します。
      operationId: updateDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateDelegationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteDelegationAppointment:
    post:
      tags:
        - 組織API
      summary: 権限委譲削除
      description:
        権限委譲を削除します。
      operationId: deleteDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteDelegationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableDelegationAppointment:
    post:
      tags:
        - 組織API
      summary: 権限委譲適用終了
      description:
        権限委譲を適用終了します。
      operationId: disableDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableDelegationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableDelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addDeprivationAppointment:
    post:
      tags:
        - 組織API
      summary: 引上げ権限作成
      description:
        引上げ権限を作成します。
      operationId: addDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddDeprivationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findDeprivationAppointment:
    post:
      tags:
        - 組織API
      summary: 引上げ権限参照
      description:
        引上げ権限を参照します。
      operationId: findDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindDeprivationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindDeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateDeprivationAppointment:
    post:
      tags:
        - 組織API
      summary: 引上げ権限更新
      description:
        引上げ権限を更新します。
      operationId: updateDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateDeprivationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteDeprivationAppointment:
    post:
      tags:
        - 組織API
      summary: 引上げ権限削除
      description:
        引上げ権限を削除します。
      operationId: deleteDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteDeprivationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableDeprivationAppointment:
    post:
      tags:
        - 組織API
      summary: 引上げ権限適用終了
      description:
        引上げ権限を適用終了します。
      operationId: disableDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableDeprivationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableDeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addPrivateRole:
    post:
      tags:
        - 組織API
      summary: プライベートロール作成
      description:
        プライベートロールを作成します。
      operationId: addPrivateRole
      requestBody:
        $ref: "#/components/requestBodies/AddPrivateRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findPrivateRole:
    post:
      tags:
        - 組織API
      summary: プライベートロール参照
      description:
        プライベートロールを参照します。
      operationId: findPrivateRole
      requestBody:
        $ref: "#/components/requestBodies/FindPrivateRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindPrivateRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updatePrivateRole:
    post:
      tags:
        - 組織API
      summary: プライベートロール更新
      description:
        プライベートロールを更新します。
      operationId: updatePrivateRole
      requestBody:
        $ref: "#/components/requestBodies/UpdatePrivateRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deletePrivateRole:
    post:
      tags:
        - 組織API
      summary: プライベートロール削除
      description:
        プライベートロールを削除します。
      operationId: deletePrivateRole
      requestBody:
        $ref: "#/components/requestBodies/DeletePrivateRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addPrivateRoleAppointment:
    post:
      tags:
        - 組織API
      summary: プライベートロール所属作成
      description:
        プライベートロール所属を作成します。
      operationId: addPrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddPrivateRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findPrivateRoleAppointment:
    post:
      tags:
        - 組織API
      summary: プライベートロール所属参照
      description:
        プライベートロール所属を参照します。
      operationId: findPrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindPrivateRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindPrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updatePrivateRoleAppointment:
    post:
      tags:
        - 組織API
      summary: プライベートロール所属更新
      description:
        プライベートロール所属を更新します。
      operationId: updatePrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdatePrivateRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deletePrivateRoleAppointment:
    post:
      tags:
        - 組織API
      summary: プライベートロール所属削除
      description:
        プライベートロール所属を削除します。
      operationId: deletePrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeletePrivateRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disablePrivateRoleAppointment:
    post:
      tags:
        - 組織API
      summary: プライベートロール所属適用終了
      description:
        プライベートロール所属を適用終了します。
      operationId: disablePrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisablePrivateRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisablePrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addUniversalRole:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール作成
      description:
        ユニバーサルロールを作成します。
      operationId: addUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/AddUniversalRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findUniversalRole:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール参照
      description:
        ユニバーサルロールを参照します。
      operationId: findUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/FindUniversalRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindUniversalRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateUniversalRole:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール更新
      description:
        ユニバーサルロールを更新します。
      operationId: updateUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/UpdateUniversalRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteUniversalRole:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール削除
      description:
        ユニバーサルロールを削除します。
      operationId: deleteUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/DeleteUniversalRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addUniversalRoleAppointment:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール所属作成
      description:
        ユニバーサルロール所属を作成します。
      operationId: addUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddUniversalRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findUniversalRoleAppointment:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール所属参照
      description:
        ユニバーサル所属を参照します。
      operationId: findUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindUniversalRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindUniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateUniversalRoleAppointment:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール所属更新
      description:
        ユニバーサルロール所属を更新します。
      operationId: updateUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateUniversalRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteUniversalRoleAppointment:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール所属削除
      description:
        ユニバーサルロール所属を削除します。
      operationId: deleteUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteUniversalRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableUniversalRoleAppointment:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール所属適用終了
      description:
        ユニバーサルロール所属を適用終了します。
      operationId: disableUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableUniversalRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableUniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------

# -----------------------------------------------
# コンポーネントの定義
# -----------------------------------------------

components:

      
    # -----------------------------------------------
    # リクエスト components/requestBodies
    # -----------------------------------------------

  requestBodies:
    AddUserRequest:
      content:
        application/json:
          schema:
            required:
              - code
              - loginId
              - name
              - password
            allOf:
              - $ref: "#/components/schemas/AddUserRequest"
          example:
            availableDateFrom: 1900-01-01 00:00:00 JST
            availableDateTo: 2060-12-31 00:00:00 JST
            code: user01
            displayLanguage: ja
            importCode: user01
            isAccountLock: false
            isForceChangePassword: true
            kana: テラサキケイイチ
            localeName: ja
            localizedName: ''
            loginId: user01
            mailAddress: user01@example.com
            name: 寺崎啓一
            password: user01_Pw
            remarks: 備考
            reserveItems:
              reserveItem1: a
              reserveItem2: b
              reserveItem3: c
              reserveItem4: d
              reserveItem5: e
              reserveItem6: f
              reserveItem7: g
              reserveItem8: h
              reserveItem9: i
              reserveItem10: j
              reserveItem11: k
              reserveItem12: l
              reserveItem13: m
              reserveItem14: n
              reserveItem15: o
              reserveItem16: p
              reserveItem17: q
              reserveItem18: r
              reserveItem19: s
              reserveItem20: t
            stampName: 寺崎(啓)
            validityDateFrom: 1900-01-01 00:00:00 JST
            validityDateTo: 2060-12-31 00:00:00 JST
              
    FindUserRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindUserRequest"
          example:
            condition:
              code: user01
              loginId: 
              name: 
              isAccountLock: false
              unitCode: 
              sectionRoleCode:
              universalRoleCode:
              reserveItem1: 
              reserveItem2: 
              reserveItem3: 
              reserveItem4: 
              reserveItem5: 
              reserveItem6: 
              reserveItem7: 
              reserveItem8: 
              reserveItem9: 
              reserveItem10: 
              columnValueConditionList:
                entries:
                  - column: ReserveItem1
                    compareOperatorType: NOT_LIKE
                    value: A
                logicalOperator: AND
              criterionDate: 2024-10-31 00:00:00 JST
    
    UpdateUserRequest:
      content:
        application/json:
          schema:
            required:
              - code
              - id
              - loginId
              - name
            type: object
            properties:
              id:
                description: |
                  更新対象ユーザーのID<br>
                  *「ユーザー作成API」または「ユーザー参照API」で取得した値を指定
                type: integer
              criterionDate:
                description: 基準日
                type: string
            allOf:
              - $ref: "#/components/schemas/AddUserRequest"
          example:
            id: 999
            availableDateFrom: 1900-01-01 00:00:00 JST
            availableDateTo: 2060-12-31 00:00:00 JST
            code: user01
            criterionDate: 2024-10-31 00:00:00 JST
            displayLanguage: ja
            importCode: user01
            isAccountLock: false
            isForceChangePassword: true
            kana: テラサキケイイチ
            localeName: ja
            localizedName: ''
            loginId: user01
            mailAddress: user01@example.com
            name: 寺崎啓一
            password: user01_Pw
            remarks: 備考
            reserveItems:
              reserveItem1: a
              reserveItem2: b
              reserveItem3: c
              reserveItem4: d
              reserveItem5: e
              reserveItem6: f
              reserveItem7: g
              reserveItem8: h
              reserveItem9: i
              reserveItem10: j
              reserveItem11: k
              reserveItem12: l
              reserveItem13: m
              reserveItem14: n
              reserveItem15: o
              reserveItem16: p
              reserveItem17: q
              reserveItem18: r
              reserveItem19: s
              reserveItem20: t
            stampName: 寺崎(啓)
            validityDateFrom: 1900-01-01 00:00:00 JST
            validityDateTo: 2060-12-31 00:00:00 JST
    
    DeleteUserRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象ユーザーのID<br>
                  *「ユーザー作成API」または「ユーザー参照API」で取得した値を指定
                type: integer
                example: 999
              criterionDate:
                description: 削除用基準日
                type: date
                example: 2024-10-31 00:00:00 JST
    
    DisableUserRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  適用終了対象ユーザーのID<br>
                  *「ユーザー作成API」または「ユーザー参照API」で取得した値を指定
                type: integer
                example: 999
              availableDateTo:
                description: 適用終了日
                type: date
                example: 2024-12-31 00:00:00 JST
    
    AddUnitRequest:
      content:
        application/json:
          schema:
            required:
              - code
              - name
            allOf:
              - $ref: "#/components/schemas/AddUnitRequest"
          example:
            code: unit02
            importCode: unit02
            parentCode: unit01
            name: 組織2
            localizedName: 組織2
            localeName: auto
            officialName: 組織2正式名称
            kana: ソシキ2セイシキメイショウ
            remarks: 備考
            validityDateFrom: 1900-01-01 00:00:00 JST
            validityDateTo: 2060-12-31 00:00:00 JST
            availableDateFrom: 1900-01-01 00:00:00 JST
            availableDateTo: 2060-12-31 00:00:00 JST
            reserveItems:
              reserveItem1: item1
              reserveItem2: item2
              reserveItem3: item3
              reserveItem4: item4
              reserveItem5: item5
              reserveItem6: item6
              reserveItem7: item7
              reserveItem8: item8
              reserveItem9: item9
              reserveItem10: item10
              reserveItem11: item11
              reserveItem12: item12
              reserveItem13: item13
              reserveItem14: item14
              reserveItem15: item15
              reserveItem16: item16
              reserveItem17: item17
              reserveItem18: item18
              reserveItem19: item19
              reserveItem20: item20
    
    FindUnitRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindUnitRequest"
          example:
            condition:
              code: unit02
              name: 
              parentCode: 
              importCode: 
              columnValueConditionList:
                entries:
                  - column: NAME
                    compareOperatorType: LIKE
                    value: 組織
                  - column: AvailableDateFrom
                    compareOperatorType: LESS_EQUAL
                    value: 2020-01-01 00:00:00 JST
                logicalOperator: AND
              criterionDate: 2024-10-31 00:00:00 JST
    
    UpdateUnitRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - code
              - parentCode
              - name
              - validityDateFrom
            type: object
            properties:
              id:
                description: |
                  更新対象組織のID<br>
                  *「組織作成API」または「組織参照API」で取得した値を指定
                type: integer
            allOf:
              - $ref: "#/components/schemas/AddUnitRequest"
          example:
            id: 999
            code: unit02
            importCode: unit02
            parentCode: unit01
            name: 組織2
            localizedName: 組織2
            localeName: auto
            officialName: 組織2正式名称
            kana: ソシキ2セイシキメイショウ
            remarks: 備考
            validityDateFrom: 1900-01-01 00:00:00 JST
            validityDateTo: 2060-12-31 00:00:00 JST
            availableDateFrom: 1900-01-01 00:00:00 JST
            availableDateTo: 2060-12-31 00:00:00 JST
            reserveItems:
              reserveItem1: item1
              reserveItem2: item2
              reserveItem3: item3
              reserveItem4: item4
              reserveItem5: item5
              reserveItem6: item6
              reserveItem7: item7
              reserveItem8: item8
              reserveItem9: item9
              reserveItem10: item10
              reserveItem11: item11
              reserveItem12: item12
              reserveItem13: item13
              reserveItem14: item14
              reserveItem15: item15
              reserveItem16: item16
              reserveItem17: item17
              reserveItem18: item18
              reserveItem19: item19
              reserveItem20: item20
    
    DeleteUnitRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - code
            type: object
            properties:
              id:
                description: |
                  削除対象組織のID<br>
                  *「組織作成API」または「組織参照API」で取得した値を指定
                type: integer
                example: 999
              code:
                description: 削除対象組織のコード
                type: string
                example: unit02
              criterionDate:
                description: |
                  基準日<br>
                  *nullの場合は現在日
                type: date
                example: 2024-10-31 00:00:00 JST
    
    DisableUnitRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  適用終了対象組織のID<br>
                  *「組織作成API」または「組織参照API」で取得した値を指定
                type: integer
                example: 999
              availableDateTo:
                description: |
                  適用終了日<br>
                  *null の場合は 2060/12/31
                type: date
                example: 2024-12-31 00:00:00 JST
    
    AddSectionRoleRequest:
      content:
        application/json:
          schema:
            required:
              - code
              - name
            allOf:
              - $ref: "#/components/schemas/AddSectionRoleRequest"
          example:
            code: srole01
            importCode: srole01
            name: 課長
            explanation: 備考
            folderCode: 
            rank: 1
    
    FindSectionRoleRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindSectionRoleRequest"
          example:
            condition:
              code: srole01
              name: 
              userCode: 
              unitCode: 
              columnValueConditionList:
                entries:
                  - column: RANK
                    compareOperatorType: GREATER_THAN
                    value: 0
                logicalOperator: AND
              criterionDate: 2024-10-31 00:00:00 JST
    
    UpdateSectionRoleRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - code
              - name
            type: object
            properties:
              id:
                description: |
                  更新対象セクションロールのID<br>
                  *「セクションロール作成API」または「セクションロール参照API」で取得した値を指定
                type: integer
            allOf:
              - $ref: "#/components/schemas/AddSectionRoleRequest"
          example:
            id: 999
            code: srole01
            importCode: srole01
            name: 課長
            explanation: 備考
            folderCode: 
            rank: 1
    
    DeleteSectionRoleRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象セクションロールのID<br>
                  *「セクションロール作成API」または「セクションロール参照API」で取得した値を指定
                type: integer
                example: 999
    
    AddSectionRoleGroupRequest:
      content:
        application/json:
          schema:
            required:
              - code
              - name
            allOf:
              - $ref: "#/components/schemas/AddSectionRoleGroupRequest"
          example:
            code: srolegroup01
            name: 取締役
            sortNo: 1
            explanation: 説明
            roleCodeList:
              entries:
                - code: srole01
                - code: srole02
    
    FindSectionRoleGroupRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindSectionRoleGroupRequest"
          example:
            condition:
              code: srole01
              name: 
              roleCode: 
              columnValueConditionList:
                entries:
                  - column: SectionRoleCode
                    compareOperatorType: EQUAL
                    value: srole01
                logicalOperator: AND
    
    UpdateSectionRoleGroupRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - code
              - name
            type: object
            properties:
              id:
                description: |
                  更新対象セクションロールグループのID<br>
                  *「セクションロールグループ作成API」または「セクションロールグループ参照API」で取得した値を指定
                type: integer
            allOf:
              - $ref: "#/components/schemas/AddSectionRoleGroupRequest"
          example:
            id: 999
            code: srolegroup01
            name: 取締役
            sortNo: 1
            explanation: 説明
            roleCodeList:
              entries:
                - code: srole01
                - code: srole02
    
    DeleteSectionRoleGroupRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象セクションロールグループのID<br>
                  *「セクションロールグループ作成API」または「セクションロールグループ参照API」で取得した値を指定
                type: integer
                example: 999
    
    AddUnitAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - unitCode
              - userCode
            allOf:
              - $ref: "#/components/schemas/AddUnitAppointmentRequest"
          example:
            unitCode: unit01
            userCode: user01
            sectionRoleCode: srole01
            availableDateFrom: 1900-01-01 00:00:00 JST
            avalableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    FindUnitAppointmentRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindUnitAppointmentRequest"
          example:
            condition:
              userCode: user01
              unitCode: unit01 
              unitDirection: ESCALATE
              sectionRoleCode: srole01 
              isMainUnit: false
              columnValueConditionList:
                entries:
                  - column: UserName
                    compareOperatorType: LIKE
                    value: 寺崎
                logicalOperator: AND
              criterionDate: 2024-10-31 00:00:00 JST
    
    UpdateUnitAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - unitCode
              - userCode
            allOf:
              - $ref: "#/components/schemas/UpdateUnitAppointmentRequest"
          example:
            id: 999
            unitCode: unit01
            userCode: user01
            sectionRoleCode: srole01
            availableDateFrom: 1900-01-01 00:00:00 JST
            avalableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    DeleteUnitAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象組織所属のID<br>
                  *「組織所属作成API」または「組織所属参照API」で取得した値を指定
                type: integer
                example: 999
              criterionDate:
                description: |
                  削除用基準日<br>
                  *null の場合は現在日
                type: date
                example: 2024-10-31 00:00:00 JST
    
    DisableUnitAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  適用終了対象組織所属のID<br>
                  *「組織所属作成API」または「組織所属参照API」で取得した値を指定
                type: integer
                example: 999
              availableDateTo:
                description: |
                  適用終了日<br>
                  *null の場合は適用終了日を組織の適用終了日とユーザーの適用終了日のうち早い方の日付に設定
                type: date
                example: 2024-12-31 00:00:00 JST
    
    AddProxyApplyAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - principalUserCode
              - proxyUserCode
            allOf:
              - $ref: "#/components/schemas/AddProxyApplyAppointmentRequest"
          example:
            principalUserCode: user01
            principalUnitCode: unit01
            proxyUserCode: user02
            targetFormList:
              entries:
                - formCode: form01
            targetRuleList:
              entries:
                - ruleCode: rule01
            isDisplayCreateMenu: true
            availableDateFrom: 1900-01-01 00:00:00 JST
            avalableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    FindProxyApplyAppointmentRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindProxyApplyAppointmentRequest"
          example:
            condition:
              principalUnitCode: unit01
              principalUserCode: user01
              proxyUserCode: user02
              targetFormCode: form01
              targetRuleCode: rule01
              criterionDate: 2024-10-31 00:00:00 JST
              isDisplayCreateMenu: true
    
    UpdateProxyApplyAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - principalUserCode
              - proxyUserCode
            type: object
            properties:
              id:
                description: |
                  更新対象代理申請のID<br>
                  *「代理申請作成API」または「代理申請参照API」で取得した値を指定
                type: integer
            allOf:
              - $ref: "#/components/schemas/AddProxyApplyAppointmentRequest"
          example:
            id: 999
            principalUserCode: user01
            principalUnitCode: unit01
            proxyUserCode: user02
            targetFormList:
              entries:
                - formCode: form01
            targetRuleList:
              entries:
                - ruleCode: rule01
            isDisplayCreateMenu: true
            availableDateFrom: 1900-01-01 00:00:00 JST
            avalableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    DeleteProxyApplyAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象代理申請のID<br>
                  *「代理申請作成API」または「代理申請参照API」で取得した値を指定
                type: integer
                example: 999
    
    DisableProxyApplyAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  適用終了対象代理申請のID<br>
                  *「代理申請作成API」または「代理申請参照API」で取得した値を指定
                type: integer
                example: 999
              availableDateTo:
                description: |
                  適用終了日<br>
                  *null の場合は 2060/12/31 に設定
                type: date
                example: 2024-12-31 00:00:00 JST
    
    AddProxyAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - principalUserCode
              - proxyUserCode
            allOf:
              - $ref: "#/components/schemas/AddProxyAppointmentRequest"
          example:
            principalUserCode: user01
            principalUnitCode: unit01
            proxyUserCode: user02
            targetFormList:
              entries:
                - formCode: form01
            targetRuleList:
              entries:
                - ruleCode: rule01
            isSendNotification: true
            isDisplayTodoMenu: true
            availableDateFrom: 1900-01-01 00:00:00 JST
            avalableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    FindProxyAppointmentRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindProxyAppointmentRequest"
          example:
            condition:
              principalUnitCode: unit01
              principalUserCode: user01
              proxyUserCode: user02
              targetFormCode: form01
              targetRuleCode: rule01
              criterionDate: 2024-10-31 00:00:00 JST
              isSendNotification: true
              isDisplayTodoMenu: true
    
    UpdateProxyAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - principalUserCode
              - proxyUserCode
            type: object
            properties:
              id:
                description: |
                  更新対象代理承認のID<br>
                  *「代理承認作成API」または「代理承認参照API」で取得した値を指定
                type: integer
            allOf:
              - $ref: "#/components/schemas/AddProxyAppointmentRequest"
          example:
            id: 999
            principalUserCode: user01
            principalUnitCode: unit01
            proxyUserCode: user02
            targetFormList:
              entries:
                - formCode: form01
            targetRuleList:
              entries:
                - ruleCode: rule01
            isSendNotification: true
            isDisplayTodoMenu: true
            availableDateFrom: 1900-01-01 00:00:00 JST
            avalableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    DeleteProxyAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象代理承認のID<br>
                  *「代理承認作成API」または「代理承認参照API」で取得した値を指定
                type: integer
                example: 999
    
    DisableProxyAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  適用終了対象代理承認のID<br>
                  *「代理承認作成API」または「代理承認参照API」で取得した値を指定
                type: integer
                example: 999
              availableDateTo:
                description: |
                  適用終了日<br>
                  *null の場合は 2060/12/31 に設定
                type: date
                example: 2024-12-31 00:00:00 JST
    
    AddDelegationAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - fromUserCode
              - toUserCode
            allOf:
              - $ref: "#/components/schemas/AddDelegationAppointmentRequest"
          example:
            fromUserCode: user01
            fromUnitCode: unit01
            toUserCode: user02
            targetFormList:
              entries:
                - formCode: form01
            targetRuleList:
              entries:
                - ruleCode: rule01
            availableDateFrom: 1900-01-01 00:00:00 JST
            avalableDateTo: 2060-12-31 00:00:00 JST
            targetUnitPolicy: FROM
            criterionDate: 2024-10-31 00:00:00 JST
    
    FindDelegationAppointmentRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindDelegationAppointmentRequest"
          example:
            condition:
              fromUnitCode: unit01
              fromUserCode: user01
              toUserCode: user02
              targetFormCode: form01
              targetRuleCode: rule01
              criterionDate: 2024-10-31 00:00:00 JST
    
    UpdateDelegationAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - fromUserCode
              - toUserCode
            type: object
            properties:
              id:
                description: |
                  更新対象権限委譲のID<br>
                  *「権限委譲作成API」または「権限委譲参照API」で取得した値を指定
                type: integer
            allOf:
              - $ref: "#/components/schemas/AddDelegationAppointmentRequest"
          example:
            id: 999
            fromUserCode: user01
            fromUnitCode: unit01
            toUserCode: user02
            targetFormList:
              entries:
                - formCode: form01
            targetRuleList:
              entries:
                - ruleCode: rule01
            availableDateFrom: 1900-01-01 00:00:00 JST
            avalableDateTo: 2060-12-31 00:00:00 JST
            targetUnitPolicy: FROM
            criterionDate: 2024-10-31 00:00:00 JST
    
    DeleteDelegationAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象権限委譲のID<br>
                  *「権限委譲作成API」または「権限委譲参照API」で取得した値を指定
                type: integer
                example: 999
    
    DisableDelegationAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  適用終了対象権限委譲のID<br>
                  *「権限委譲作成API」または「権限委譲参照API」で取得した値を指定
                type: integer
                example: 999
              availableDateTo:
                description: |
                  適用終了日<br>
                  *null の場合は 2060/12/31 に設定
                type: date
                example: 2024-12-31 00:00:00 JST
    
    AddDeprivationAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - userCode
            allOf:
              - $ref: "#/components/schemas/AddDeprivationAppointmentRequest"
          example:
            userCode: user01
            targetFormList:
              entries:
                - formCode: form01
            targetRuleList:
              entries:
                - ruleCode: rule01
            availableDateFrom: 1900-01-01 00:00:00 JST
            avalableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    FindDeprivationAppointmentRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindDeprivationAppointmentRequest"
          example:
            condition:
              userCode: user01
              targetFormCode: form01
              targetRuleCode: rule01
              criterionDate: 2024-10-31 00:00:00 JST
    
    UpdateDeprivationAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - userCode
            type: object
            properties:
              id:
                description: |
                  更新対象引上げ権限のID<br>
                  *「引上げ権限作成API」または「引上げ権限参照API」で取得した値を指定
                type: integer
            allOf:
              - $ref: "#/components/schemas/AddDeprivationAppointmentRequest"
          example:
            id: 999
            userCode: user01
            targetFormList:
              entries:
                - formCode: form01
            targetRuleList:
              entries:
                - ruleCode: rule01
            availableDateFrom: 1900-01-01 00:00:00 JST
            avalableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    DeleteDeprivationAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象引上げ権限のID<br>
                  *「引上げ権限作成API」または「引上げ権限参照API」で取得した値を指定
                type: integer
                example: 999
    
    DisableDeprivationAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  適用終了対象引上げ権限のID<br>
                  *「引上げ権限作成API」または「引上げ権限参照API」で取得した値を指定
                type: integer
                example: 999
              availableDateTo:
                description: |
                  適用終了日<br>
                  *null の場合は 2060/12/31 に設定
                type: date
                example: 2024-12-31 00:00:00 JST
    
    AddPrivateRoleRequest:
      content:
        application/json:
          schema:
            required:
              - code
              - name
              - folderCode
            allOf:
              - $ref: "#/components/schemas/AddPrivateRoleRequest"
          example:
            code: prole01
            importCode: prole01
            name: プライベートロール
            explanation: プライベートロール
            folderCode: proleFolder
            isWarnIfCandidateNotAssigned: false
            candidateList:
              entries:
                - type: USER
                  userCode: user01
                - type: ROLE
                  roleCode: srole01
                  roletype: SECTION
            guidance:
              subject: 件名
              text: 本文
    
    FindPrivateRoleRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindPrivateRoleRequest"
          example:
            condition:
              code: prole01
              name: プライベートロール
              columnValueConditionList: 
                entries:
                  - column: Name
                    compareOperator: LIKE
                    value: プライベート
                logicalOperator: AND
    
    UpdatePrivateRoleRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - code
              - name
              - folderCode
            type: object
            properties:
              id:
                description: |
                  更新対象プライベートロールのID<br>
                  *「プライベートロール作成API」または「プライベートロール参照API」で取得した値を指定
                type: integer
            allOf:
              - $ref: "#/components/schemas/AddPrivateRoleRequest"
          example:
            id: 999
            code: prole01
            importCode: prole01
            name: プライベートロール
            explanation: プライベートロール
            folderCode: proleFolder
            isWarnIfCandidateNotAssigned: false
            candidateList:
              entries:
                - type: USER
                  userCode: user01
                - type: ROLE
                  roleCode: srole01
                  roletype: SECTION
            guidance:
              subject: 件名
              text: 本文
    
    DeletePrivateRoleRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象プライベートロールのID<br>
                  *「プライベートロール作成API」または「プライベートロール参照API」で取得した値を指定
                type: integer
                example: 999
    
    AddPrivateRoleAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - userCode
              - privateRoleCode
              - candidateCode
            allOf:
              - $ref: "#/components/schemas/AddPrivateRoleAppointmentRequest"
          example:
            userCode: user01
            privateRoleCode: prole01
            candidateCode: user02
            availableDateFrom: 1900-01-01 00:00:00 JST
            availableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    FindPrivateRoleAppointmentRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindPrivateRoleAppointmentRequest"
          example:
            condition:
              userCode: user01
              roleCode: prole01
              candidateCode: user02
              columnValueConditionList:
                entries:
                  - column: CandidateCode
                    compareOperator: LIKE
                    value: u
                logicalOperator: AND
              criterionDate: 2024-10-31 00:00:00 JST
    
    UpdatePrivateRoleAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - userCode
              - privateRoleCode
              - candidateCode
            type: object
            properties:
              id:
                description: |
                  更新対象プライベートロール所属のID<br>
                  *「プライベートロール所属作成API」または「プライベートロール所属参照API」で取得した値を指定
                type: integer
              userCode:
                description: |
                  ユーザーコード<br>
                  *変更不可
                type: string
              privateRoleCode:
                description: |
                  プライベートロールコード<br>
                  *変更不可
                type: string
              candidateCode:
                description: |
                  候補者のユーザーコード<br>
                  *変更不可
                type: string
              availableDateFrom:
                description: 適用開始日
                type: date
              availableDateTo:
                description: 適用終了日
                type: date
              criterionDate:
                description: 基準日
                type: date
          example:
            id: 999
            userCode: user01
            privateRoleCode: prole01
            candidateCode: user02
            availableDateFrom: 1900-01-01 00:00:00 JST
            availableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    DeletePrivateRoleAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象プライベートロール所属のID<br>
                  *「プライベートロール所属作成API」または「プライベートロール所属参照API」で取得した値を指定
                type: integer
                example: 999
    
    DisablePrivateRoleAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  適用終了対象プライベートロール所属のID<br>
                  *「プライベートロール所属作成API」または「プライベートロール所属参照API」で取得した値を指定
                type: integer
                example: 999
              availableDateTo:
                description: |
                  適用終了日<br>
                  *null の場合は 2060/12/31 に設定
                type: date
                example: 2024-12-31 00:00:00 JST
    
    AddUniversalRoleRequest:
      content:
        application/json:
          schema:
            required:
              - code
              - name
              - folderCode
            allOf:
              - $ref: "#/components/schemas/AddUniversalRoleRequest"
          example:
            code: urole01
            importCode: urole01
            name: ユニバーサルロール
            explanation: ユニバーサルロール
            folderCode: 
    
    FindUniversalRoleRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindUniversalRoleRequest"
          example:
            condition:
              code: urole01
              name: ユニバーサルロール
              columnValueConditionList: 
                entries:
                  - column: Name
                    ompareOperator: LIKE
                    value: ユニバーサル
                logicalOperator: AND
    
    UpdateUniversalRoleRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - code
              - name
              - folderCode
            type: object
            properties:
              id:
                description: |
                  更新対象ユニバーサルロールのID<br>
                  *「ユニバーサルロール作成API」または「ユニバーサルロール参照API」で取得した値を指定
                type: integer
            allOf:
              - $ref: "#/components/schemas/AddUniversalRoleRequest"
          example:
            id: 999
            code: urole01
            importCode: urole01
            name: ユニバーサルロール
            explanation: ユニバーサルロール
            folderCode: 
    
    DeleteUniversalRoleRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象ユニバーサルロールのID<br>
                  *「ユニバーサルロール作成API」または「ユニバーサルロール参照API」で取得した値を指定
                type: integer
                example: 999
    
    AddUniversalRoleAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - userCode
              - universalRoleCode
            allOf:
              - $ref: "#/components/schemas/AddUniversalRoleAppointmentRequest"
          example:
            userCode: user01
            universalRoleCode: urole01
            availableDateFrom: 1900-01-01 00:00:00 JST
            availableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    FindUniversalRoleAppointmentRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/FindUniversalRoleAppointmentRequest"
          example:
            condition:
              userCode: user01
              roleCode: urole01
              columnValueConditionList:
                entries:
                  - column: UserName
                    ompareOperator: LIKE
                    value: u
                logicalOperator: AND
              criterionDate: 2024-10-31 00:00:00 JST
    
    UpdateUniversalRoleAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
              - userCode
              - universalRoleCode
            type: object
            properties:
              id:
                description: |
                  更新対象ユニバーサルロール所属のID<br>
                  *「ユニバーサルロール所属作成API」または「ユニバーサルロール所属参照API」で取得した値を指定
                type: integer
              userCode:
                description: |
                  ユーザーコード<br>
                  *変更不可
                type: string
              universalRoleCode:
                description: |
                  ユニバーサルロールコード<br>
                  *変更不可
                type: string
              availableDateFrom:
                description: 適用開始日
                type: date
              availableDateTo:
                description: 適用終了日
                type: date
              criterionDate:
                description: 基準日
                type: date
          example:
            id: 999
            userCode: user01
            universalRoleCode: urole01
            availableDateFrom: 1900-01-01 00:00:00 JST
            availableDateTo: 2060-12-31 00:00:00 JST
            criterionDate: 2024-10-31 00:00:00 JST
    
    DeleteUniversalRoleAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  削除対象ユニバーサルロール所属のID<br>
                  *「ユニバーサルロール所属作成API」または「ユニバーサルロール所属参照API」で取得した値を指定
                type: integer
                example: 999
    
    DisableUniversalRoleAppointmentRequest:
      content:
        application/json:
          schema:
            required:
              - id
            type: object
            properties:
              id:
                description: |
                  適用終了対象ユニバーサルロール所属のID<br>
                  *「ユニバーサルロール所属作成API」または「ユニバーサルロール所属参照API」で取得した値を指定
                type: integer
                example: 999
              availableDateTo:
                description: |
                  適用終了日<br>
                  *null の場合は 2060/12/31 に設定
                type: date
                example: 2024-12-31 00:00:00 JST
    
  # -----------------------------------------------
  # レスポンス components/responses
  # -----------------------------------------------

  responses:
    ErrorResponses400:
      description: "Error response(Bad Request)"
      content:
        application/json:
          schema:
            type: object
            properties:
              error_code:
                type: integer
                example: 400
              error_message:
                type: string
                example: "{エラーメッセージ}"

    ErrorResponses401:
      description: "Error response(Unauthorized)"
      content:
        application/json:
          schema:
            type: object
            properties:
              error_code:
                type: integer
                example: 401
              error_message:
                type: string
                example: "{エラーメッセージ}"

    ErrorResponses404:
      description: "Error response(Not Found)"
      content:
        application/json:
          schema:
            type: object
            properties:
              error_code:
                type: integer
                example: 404
              error_message:
                type: string
                example: "{エラーメッセージ}"

    ErrorResponses500:
      description: "Error response(Internal Server Error)"
      content:
        application/json:
          schema:
            type: object
            properties:
              error_code:
                type: integer
                example: 500
              error_message:
                type: string
                example: "{エラーメッセージ}"

    ErrorResponses503:
      description: "Error response(Service unavailable)"
      content:
        application/json:
          schema:
            type: object
            properties:
              error_code:
                type: integer
                example: 503
              error_message:
                type: string
                example: "{エラーメッセージ}"
                
    ResultStatusResponses200:
      description: Successful response
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/resultStatus"
          examples:
            正常:
              value:
                resultStatus: 
                  status: SUCCESS
                  messageList: 
                    entries: []
                  text: 
                  code: 
            パラメータが不正:
              value:
                resultStatus: 
                  status: FAIL
                  messageList: 
                    entries: 
                      - text: "{エラーメッセージ}"
                        code: "{エラーコード}"
                  text: サービス実行時にエラーが発生しました。
                  code: AWPCMN0000
            リクエストが不正:
              value: 
               resultStatus:
                 status: FAIL
                 messageList: 
                   entries: []
                 text: 公開APIの実行時にエラーが発生しました。
                 code: APIPAP_W0003

    # --------------------------------------------------------------------------------------------------

    UserResponses200:
      description: Successful response
      content:
        application/json:
[...]
