openapi: 3.1.0
info:
  title: '[AW]R3系 WebAPIテストケース整理'
  version: 1.0.0
servers:
  - url: https://sample.atled.jp/AgileWorks/Broker
  
security:
  - bearerAuth: []
tags:
  - name: 共通
  - name: 書類API
  - name: ワークフローAPI
  - name: 組織API
  - name: サイトAPI
  - name: マスタAPI
  - name: フォーム管理API
  - name: 公開API

paths:
  /WebApi/Model?name={model_name}.{model_model}:
    get:
      tags:
        - 共通
      summary: モデルオブジェクト取得
      description: 
        指定のモデルオブジェクトを初期化した状態で取得します。
      operationId: model
      parameters:
        - $ref: "#/components/parameters/model_name"
        - $ref: "#/components/parameters/model_model"
      responses:
        "200":
          description: 詳細は各サービス実行APIのリクエストボディを参照してください。
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name={service_name}.{service_service}&method={service_method}:
    post:
      tags:
        - 共通
      summary: サービス実行
      description: 
        AgileWorksの各サービスを実行します。
      operationId: service
      parameters:
        - $ref: "#/components/parameters/service_name"
        - $ref: "#/components/parameters/service_service"
        - $ref: "#/components/parameters/service_method"
      responses:
        "200":
          description: すべてのサービス実行APIは共通でcommon.ResponseModel型のフィールドがレスポンスボディに含まれます。
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/resultStatus"
              example:
                value:
                  resultStatus: 
                    status: SUCCESS
                    messageList: 
                      entries: []
                    text: 
                    code: 
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Download?s={download_s}:
    get:
      tags:
        - 共通
      summary: ダウンロード
      description: 
        AgileWorks上にアップロードされている各ファイルをダウンロードします。
      operationId: download
      parameters:
        - $ref: "#/components/parameters/download_s"
      responses:
        "200":
          description: |
            取得したファイル名は、Content-Disposition レスポンスヘッダに以下の形式で格納されます。<br>
            ・ファイル名が全て ASCII 文字で構成される場合<br>
            attachment;filename="<ファイル名>"<br>
            ・ファイル名に ASCII 以外の文字を含む場合<br>
            attachment;filename="<URL エンコードされたファイル名>"
          content:
            application/octet-stream:
              example:
                "ファイルの内容（バイナリデータ）" 
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=getDocHeader:
    post:
      tags:
        - 書類API
      summary: 書類情報取得
      description: 
        書類の各情報を取得します。
      operationId: getDocHeader
      requestBody:
        $ref: "#/components/requestBodies/docId"
      responses:
        "200":
          $ref: "#/components/responses/GetDocHeaderResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=getDoc:
    post:
      tags:
        - 書類API
      summary: 書類データ取得
      description: 
        書類データを取得します。
      operationId: getDoc
      requestBody:
        $ref: "#/components/requestBodies/docId"
      responses:
        "200":
          $ref: "#/components/responses/DocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
          
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=prepareDocRequest:
    post:
      tags:
        - 書類API
      summary: 新規書類データ作成
      description: 
        初期状態の書類データを作成します。
      operationId: prepareDocRequest
      requestBody:
        $ref: "#/components/requestBodies/PrepareDocRequestRequest"
      responses:
        "200":
          $ref: "#/components/responses/DocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=addDoc:
    post:
      tags:
        - 書類API
      summary: 新規書類データ保存
      description: 
        新規に作成した書類データを保存します。<br>
        「新規書類データ作成API」で取得したdocの値を雛形として、書類の各フィールドに値をセットし、本APIにより書類データの保存を行います。<br>
        本APIで保存した書類データを画面から参照できるようにするには、さらに、「下書き保存API」あるいは「書類作成 / 申請API」を実行する必要があります。
      operationId: addDoc
      requestBody:
        $ref: "#/components/requestBodies/AddDocRequest"
      responses:
        "200":
          $ref: "#/components/responses/DocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=updateDoc:
    post:
      tags:
        - 書類API
      summary: 書類データ更新
      description: 
        初期状態の書類データを作成します。<br>
        「書類データ取得API」または「新規書類データ保存API」で取得したdocに対し、フィールドの値を変更し、本APIにより書類データを更新することができます。
      operationId: updateDoc
      requestBody:
        $ref: "#/components/requestBodies/UpdateDocRequest"
      responses:
        "200":
          $ref: "#/components/responses/DocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=hardDeleteDoc:
    post:
      tags:
        - 書類API
      summary: 書類物理削除
      description: 
        論理削除済みの書類を物理削除します。<br>
        論理削除を行う場合は「書類論理削除API」を参照してください。
      operationId: hardDeleteDoc
      requestBody:
        $ref: "#/components/requestBodies/docId"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=selectDoc:
    post:
      tags:
        - 書類API
      summary: 書類検索
      description: 
        指定した条件に合致する書類の一覧を取得します。
      operationId: selectDoc
      requestBody:
        $ref: "#/components/requestBodies/SelectDocRequest"
      responses:
        "200":
          $ref: "#/components/responses/SelectDocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=getDocPdf:
    post:
      tags:
        - 書類API
      summary: 書類PDFファイル取得
      description: 
        書類のPDFファイルを生成し、ダウンロードします。
      operationId: getDocPdf
      requestBody:
        $ref: "#/components/requestBodies/GetDocPdfRequest"
      responses:
        "200":
          $ref: "#/components/responses/GetDocPdfResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=listDocComment:
    post:
      tags:
        - 書類API
      summary: 書類コメント一覧取得
      description: 
        書類のコメント一覧を取得します。
      operationId: listDocComment
      requestBody:
        $ref: "#/components/requestBodies/docId"
      responses:
        "200":
          $ref: "#/components/responses/ListDocCommentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=addDocComment:
    post:
      tags:
        - 書類API
      summary: 書類メモ追加
      description: 
        書類のメモを追加します。
      operationId: addDocComment
      requestBody:
        $ref: "#/components/requestBodies/AddDocCommentRequest"
      responses:
        "200":
          $ref: "#/components/responses/AddDocCommentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=deleteDocComment:
    post:
      tags:
        - 書類API
      summary: 書類コメント / メモ削除
      description: 
        書類のコメント / メモを削除します。
      operationId: deleteDocComment
      requestBody:
        $ref: "#/components/requestBodies/DeleteDocCommentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=addDocAttachment:
    post:
      tags:
        - 書類API
      summary: 書類添付情報追加
      description: 
        書類の添付情報を追加します。
      operationId: addDocAttachement
      requestBody:
        $ref: "#/components/requestBodies/AddDocAttachmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DocAttachmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=updateDocAttachment:
    post:
      tags:
        - 書類API
      summary: 書類添付情報更新
      description: 
        書類の添付情報を更新します。
      operationId: updateDocAttachement
      requestBody:
        $ref: "#/components/requestBodies/UpdateDocAttachmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DocAttachmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=listDocAttachment:
    post:
      tags:
        - 書類API
      summary: 書類添付情報一覧取得
      description: 
        書類の添付情報一覧を取得します。
      operationId: listDocAttachement
      requestBody:
        $ref: "#/components/requestBodies/docId"
      responses:
        "200":
          $ref: "#/components/responses/ListDocAttachmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=deleteDocAttachment:
    post:
      tags:
        - 書類API
      summary: 書類添付情報削除
      description: 
        書類の添付情報を削除します。
      operationId: deleteDocAttachement
      requestBody:
        $ref: "#/components/requestBodies/DeleteDocAttachmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=getDocReferencee:
    post:
      tags:
        - 書類API
      summary: 参照元関連書類情報取得
      description: 
        参照元の関連書類情報を取得します。
      operationId: getDocReferencee
      requestBody:
        $ref: "#/components/requestBodies/docId2"
      responses:
        "200":
          $ref: "#/components/responses/GetDocReferenceeResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=listDocReferencer:
    post:
      tags:
        - 書類API
      summary: 参照先関連書類情報一覧取得
      description: 
        参照先の関連書類情報の一覧を取得します。
      operationId: listDocReferencer
      requestBody:
        $ref: "#/components/requestBodies/docId"
      responses:
        "200":
          $ref: "#/components/responses/ListDocReferencerResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=addDocReference:
    post:
      tags:
        - 書類API
      summary: 関連書類追加
      description: 
        書類の関連付けを追加します。
      operationId: addDocReference
      requestBody:
        $ref: "#/components/requestBodies/DocReferenceRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=deleteDocReference:
    post:
      tags:
        - 書類API
      summary: 関連書類削除
      description: 
        書類の関連付けを削除します。
      operationId: deleteDocReference
      requestBody:
        $ref: "#/components/requestBodies/DocReferenceRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=doc.Doc&method=openDoc:
    post:
      tags:
        - 書類API
      summary: 書類表示
      description: 
        書類を表示するHTMLをダウンロードします。
      operationId: openDoc
      requestBody:
        $ref: "#/components/requestBodies/OpenDocRequest"
      responses:
        "200":
          $ref: "#/components/responses/TextHtmlResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=countWorkflowMessage:
    post:
      tags:
        - ワークフローAPI
      summary: 回付情報件数取得
      description: |
        回付情報の件数を取得します。
      operationId: countWorkflowMessage
      requestBody:
        $ref: "#/components/requestBodies/CountWorkflowMessageRequest"
      responses:
        "200":
          $ref: "#/components/responses/CountResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=countListWorkflowMessage:
    post:
      tags:
        - ワークフローAPI
      summary: 回付情報件数一覧取得
      description: |
        回付情報の件数の一覧を取得します。
      operationId: countListWorkflowMessage
      requestBody:
        $ref: "#/components/requestBodies/CountListWorkflowMessageRequest"
      responses:
        "200":
          $ref: "#/components/responses/CountListWorkflowMessageResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=selectWorkflowMessage:
    post:
      tags:
        - ワークフローAPI
      summary: 回付情報検索
      description: |
        回付情報の一覧を検索します。
      operationId: selectWorkflowMessage
      requestBody:
        $ref: "#/components/requestBodies/SelectWorkflowMessageRequest"
      responses:
        "200":
          $ref: "#/components/responses/SelectWorkflowMessageResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=draft:
    post:
      tags:
        - ワークフローAPI
      summary: 書類下書き保存
      description: |
        書類を下書き保存します。
      operationId: draft
      requestBody:
        $ref: "#/components/requestBodies/DraftRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=start:
    post:
      tags:
        - ワークフローAPI
      summary: 書類作成/申請
      description: |
        書類を作成または申請します。
      operationId: start
      requestBody:
        $ref: "#/components/requestBodies/StartRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=approve:
    post:
      tags:
        - ワークフローAPI
      summary: 書類承認
      description: |
        書類を承認します。
      operationId: approve
      requestBody:
        $ref: "#/components/requestBodies/ApproveRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=delete:
    post:
      tags:
        - ワークフローAPI
      summary: 書類論理削除
      description: |
        書類を論理削除します。
      operationId: delete
      requestBody:
        $ref: "#/components/requestBodies/DeleteRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=remand:
    post:
      tags:
        - ワークフローAPI
      summary: 書類差戻し
      description: |
        書類を差戻します。
      operationId: remand
      requestBody:
        $ref: "#/components/requestBodies/RemandRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=retract:
    post:
      tags:
        - ワークフローAPI
      summary: 書類引戻し
      description: |
        書類を引戻します。
      operationId: retract
      requestBody:
        $ref: "#/components/requestBodies/RetractRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=reject:
    post:
      tags:
        - ワークフローAPI
      summary: 書類却下
      description: |
        書類を却下します。
      operationId: reject
      requestBody:
        $ref: "#/components/requestBodies/RejectRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=getWorkflowInfo:
    post:
      tags:
        - ワークフローAPI
      summary: 回付情報取得
      description: |
        回付情報を取得します。
      operationId: getWorkflowInfo
      requestBody:
        $ref: "#/components/requestBodies/docId"
      responses:
        "200":
          $ref: "#/components/responses/GetWorkflowInfoResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=findWorkflowTask:
    post:
      tags:
        - ワークフローAPI
      summary: 回付情報タスク検索
      description: |
        回付情報タスクを検索します。
      operationId: findWorkflowTask
      requestBody:
        $ref: "#/components/requestBodies/FindWorkflowTaskRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindWorkflowTaskResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=listWorkflowJournal:
    post:
      tags:
        - ワークフローAPI
      summary: 回付履歴一覧取得
      description: |
        回付履歴の一覧を取得します。
      operationId: listWorkflowJournal
      requestBody:
        $ref: "#/components/requestBodies/docId"
      responses:
        "200":
          $ref: "#/components/responses/ListWorkflowJournalResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=listElectJournal:
    post:
      tags:
        - ワークフローAPI
      summary: 処理者変更履歴一覧取得
      description: |
        処理者変更履歴の一覧を取得します。
      operationId: listElectJournal
      requestBody:
        $ref: "#/components/requestBodies/docId"
      responses:
        "200":
          $ref: "#/components/responses/ListElectJournalResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=workflow.Workflow&method=listShareJournal:
    post:
      tags:
        - ワークフローAPI
      summary: 共有履歴一覧取得
      description: |
        共有履歴の一覧を取得します。
      operationId: listShareJournal
      requestBody:
        $ref: "#/components/requestBodies/docId"
      responses:
        "200":
          $ref: "#/components/responses/ListShareJournalResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addUser:
    post:
      tags:
        - 組織API
      summary: ユーザー作成
      description: |
        ユーザーを作成します。
      operationId: AddUser
      requestBody:
        $ref: "#/components/requestBodies/AddUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/UserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findUser:
    post:
      tags:
        - 組織API
      summary: ユーザー参照
      description: |
        指定されたパラメータのユーザーを参照します。<br>
        ユーザーの参照には、基準日を指定する必要があります。<br>
        指定した基準日が適用期間内に含まれるユーザーを参照します。<br>
        また、columnValueConditionListで検索条件を指定できます。
      operationId: FindUser
      requestBody:
        $ref: "#/components/requestBodies/FindUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindUserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateUser:
    post:
      tags:
        - 組織API
      summary: ユーザー更新
      description:
        ユーザーを更新します。
      operationId: UpdateUser
      requestBody:
        $ref: "#/components/requestBodies/UpdateUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/UserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
          
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteUser:
    post:
      tags:
        - 組織API
      summary: ユーザー削除
      description:
        ユーザーを削除します。
      operationId: DeleteUser
      requestBody:
        $ref: "#/components/requestBodies/DeleteUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableUser:
    post:
      tags:
        - 組織API
      summary: ユーザー適用終了
      description:
        ユーザーを適用終了します。
      operationId: DisableUser
      requestBody:
        $ref: "#/components/requestBodies/DisableUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableUserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"

 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addUnit:
    post:
      tags:
        - 組織API
      summary: 組織作成
      description:
        組織を作成します。
      operationId: addUnit
      requestBody:
        $ref: "#/components/requestBodies/AddUnitRequest"
      responses:
        "200":
          $ref: "#/components/responses/UnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findUnit:
    post:
      tags:
        - 組織API
      summary: 組織参照
      description:
        組織を参照します。
      operationId: findUnit
      requestBody:
        $ref: "#/components/requestBodies/FindUnitRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindUnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateUnit:
    post:
      tags:
        - 組織API
      summary: 組織更新
      description:
        組織を更新します。
      operationId: updateUnit
      requestBody:
        $ref: "#/components/requestBodies/UpdateUnitRequest"
      responses:
        "200":
          $ref: "#/components/responses/UnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteUnit:
    post:
      tags:
        - 組織API
      summary: 組織削除
      description:
        組織を削除します。
      operationId: deleteUnit
      requestBody:
        $ref: "#/components/requestBodies/DeleteUnitRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableUnit:
    post:
      tags:
        - 組織API
      summary: 組織適用終了
      description:
        組織を適用終了します。
      operationId: disableUnit
      requestBody:
        $ref: "#/components/requestBodies/DisableUnitRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableUnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addSectionRole:
    post:
      tags:
        - 組織API
      summary: セクションロール作成
      description:
        セクションロールを作成します。
      operationId: addSectionRole
      requestBody:
        $ref: "#/components/requestBodies/AddSectionRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findSectionRole:
    post:
      tags:
        - 組織API
      summary: セクションロール参照
      description:
        セクションロールを参照します。
      operationId: findSectionRole
      requestBody:
        $ref: "#/components/requestBodies/FindSectionRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindSectionRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateSectionRole:
    post:
      tags:
        - 組織API
      summary: セクションロール更新
      description:
        セクションロールを更新します。
      operationId: updateSectionRole
      requestBody:
        $ref: "#/components/requestBodies/UpdateSectionRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteSectionRole:
    post:
      tags:
        - 組織API
      summary: セクションロール削除
      description:
        セクションロールを削除します。
      operationId: deleteSectionRole
      requestBody:
        $ref: "#/components/requestBodies/DeleteSectionRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addSectionRoleGroup:
    post:
      tags:
        - 組織API
      summary: セクションロールグループ作成
      description:
        セクションロールグループを作成します。
      operationId: addSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/AddSectionRoleGroupRequest"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleGroupResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findSectionRoleGroup:
    post:
      tags:
        - 組織API
      summary: セクションロールグループ参照
      description:
        セクションロールグループを参照します。
      operationId: findSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/FindSectionRoleGroupRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindSectionRoleGroupResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateSectionRoleGroup:
    post:
      tags:
        - 組織API
      summary: セクションロールグループ更新
      description:
        セクションロールグループを更新します。
      operationId: updateSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/UpdateSectionRoleGroupRequest"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleGroupResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteSectionRoleGroup:
    post:
      tags:
        - 組織API
      summary: セクションロールグループ削除
      description:
        セクションロールグループを削除します。
      operationId: deleteSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/DeleteSectionRoleGroupRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addUnitAppointment:
    post:
      tags:
        - 組織API
      summary: 組織所属作成
      description:
        組織所属を作成します。
      operationId: addUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddUnitAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/UnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findUnitAppointment:
    post:
      tags:
        - 組織API
      summary: 組織所属参照
      description:
        組織所属を参照します。
      operationId: findUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindUnitAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindUnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateUnitAppointment:
    post:
      tags:
        - 組織API
      summary: 組織所属更新
      description:
        組織所属を更新します。
      operationId: updateUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateUnitAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/UnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteUnitAppointment:
    post:
      tags:
        - 組織API
      summary: 組織所属削除
      description:
        組織所属を削除します。
      operationId: deleteUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteUnitAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableUnitAppointment:
    post:
      tags:
        - 組織API
      summary: 組織所属適用終了
      description:
        組織所属を適用終了します。
      operationId: disableUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableUnitAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableUnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addProxyApplyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理申請作成
      description:
        代理申請を作成します。
      operationId: addProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddProxyApplyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findProxyApplyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理申請参照
      description:
        代理申請を参照します。
      operationId: findProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindProxyApplyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateProxyApplyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理申請更新
      description:
        代理申請を更新します。
      operationId: updateProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateProxyApplyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteProxyApplyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理申請削除
      description:
        代理申請を削除します。
      operationId: deleteProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteProxyApplyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableProxyApplyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理申請適用終了
      description:
        代理申請を適用終了します。
      operationId: disableProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableProxyApplyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addProxyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理承認作成
      description:
        代理承認を作成します。
      operationId: addProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddProxyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findProxyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理承認参照
      description:
        代理承認を参照します。
      operationId: findProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindProxyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateProxyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理承認更新
      description:
        代理承認を更新します。
      operationId: updateProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateProxyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteProxyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理承認削除
      description:
        代理承認を削除します。
      operationId: deleteProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteProxyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableProxyAppointment:
    post:
      tags:
        - 組織API
      summary: 代理承認適用終了
      description:
        代理承認を適用終了します。
      operationId: disableProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableProxyAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addDelegationAppointment:
    post:
      tags:
        - 組織API
      summary: 権限委譲作成
      description:
        権限委譲を作成します。
      operationId: addDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddDelegationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findDelegationAppointment:
    post:
      tags:
        - 組織API
      summary: 権限委譲参照
      description:
        権限委譲を参照します。
      operationId: findDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindDelegationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindDelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateDelegationAppointment:
    post:
      tags:
        - 組織API
      summary: 権限委譲更新
      description:
        権限委譲を更新します。
      operationId: updateDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateDelegationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteDelegationAppointment:
    post:
      tags:
        - 組織API
      summary: 権限委譲削除
      description:
        権限委譲を削除します。
      operationId: deleteDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteDelegationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableDelegationAppointment:
    post:
      tags:
        - 組織API
      summary: 権限委譲適用終了
      description:
        権限委譲を適用終了します。
      operationId: disableDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableDelegationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableDelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addDeprivationAppointment:
    post:
      tags:
        - 組織API
      summary: 引上げ権限作成
      description:
        引上げ権限を作成します。
      operationId: addDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddDeprivationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findDeprivationAppointment:
    post:
      tags:
        - 組織API
      summary: 引上げ権限参照
      description:
        引上げ権限を参照します。
      operationId: findDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindDeprivationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindDeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateDeprivationAppointment:
    post:
      tags:
        - 組織API
      summary: 引上げ権限更新
      description:
        引上げ権限を更新します。
      operationId: updateDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateDeprivationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteDeprivationAppointment:
    post:
      tags:
        - 組織API
      summary: 引上げ権限削除
      description:
        引上げ権限を削除します。
      operationId: deleteDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteDeprivationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableDeprivationAppointment:
    post:
      tags:
        - 組織API
      summary: 引上げ権限適用終了
      description:
        引上げ権限を適用終了します。
      operationId: disableDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableDeprivationAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableDeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addPrivateRole:
    post:
      tags:
        - 組織API
      summary: プライベートロール作成
      description:
        プライベートロールを作成します。
      operationId: addPrivateRole
      requestBody:
        $ref: "#/components/requestBodies/AddPrivateRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findPrivateRole:
    post:
      tags:
        - 組織API
      summary: プライベートロール参照
      description:
        プライベートロールを参照します。
      operationId: findPrivateRole
      requestBody:
        $ref: "#/components/requestBodies/FindPrivateRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindPrivateRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updatePrivateRole:
    post:
      tags:
        - 組織API
      summary: プライベートロール更新
      description:
        プライベートロールを更新します。
      operationId: updatePrivateRole
      requestBody:
        $ref: "#/components/requestBodies/UpdatePrivateRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deletePrivateRole:
    post:
      tags:
        - 組織API
      summary: プライベートロール削除
      description:
        プライベートロールを削除します。
      operationId: deletePrivateRole
      requestBody:
        $ref: "#/components/requestBodies/DeletePrivateRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addPrivateRoleAppointment:
    post:
      tags:
        - 組織API
      summary: プライベートロール所属作成
      description:
        プライベートロール所属を作成します。
      operationId: addPrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddPrivateRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findPrivateRoleAppointment:
    post:
      tags:
        - 組織API
      summary: プライベートロール所属参照
      description:
        プライベートロール所属を参照します。
      operationId: findPrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindPrivateRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindPrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updatePrivateRoleAppointment:
    post:
      tags:
        - 組織API
      summary: プライベートロール所属更新
      description:
        プライベートロール所属を更新します。
      operationId: updatePrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdatePrivateRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deletePrivateRoleAppointment:
    post:
      tags:
        - 組織API
      summary: プライベートロール所属削除
      description:
        プライベートロール所属を削除します。
      operationId: deletePrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeletePrivateRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disablePrivateRoleAppointment:
    post:
      tags:
        - 組織API
      summary: プライベートロール所属適用終了
      description:
        プライベートロール所属を適用終了します。
      operationId: disablePrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisablePrivateRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisablePrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addUniversalRole:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール作成
      description:
        ユニバーサルロールを作成します。
      operationId: addUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/AddUniversalRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findUniversalRole:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール参照
      description:
        ユニバーサルロールを参照します。
      operationId: findUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/FindUniversalRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindUniversalRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateUniversalRole:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール更新
      description:
        ユニバーサルロールを更新します。
      operationId: updateUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/UpdateUniversalRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteUniversalRole:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール削除
      description:
        ユニバーサルロールを削除します。
      operationId: deleteUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/DeleteUniversalRoleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=addUniversalRoleAppointment:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール所属作成
      description:
        ユニバーサルロール所属を作成します。
      operationId: addUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddUniversalRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=findUniversalRoleAppointment:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール所属参照
      description:
        ユニバーサル所属を参照します。
      operationId: findUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindUniversalRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindUniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=updateUniversalRoleAppointment:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール所属更新
      description:
        ユニバーサルロール所属を更新します。
      operationId: updateUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateUniversalRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=deleteUniversalRoleAppointment:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール所属削除
      description:
        ユニバーサルロール所属を削除します。
      operationId: deleteUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteUniversalRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=org.Org&method=disableUniversalRoleAppointment:
    post:
      tags:
        - 組織API
      summary: ユニバーサルロール所属適用終了
      description:
        ユニバーサルロール所属を適用終了します。
      operationId: disableUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableUniversalRoleAppointmentRequest"
      responses:
        "200":
          $ref: "#/components/responses/DisableUniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=site.Site&method=findProject:
    post:
      tags:
        - サイトAPI
      summary: 業務カテゴリ一覧取得
      description:
        業務カテゴリ一覧を取得します。
      operationId: findProject
      requestBody:
        $ref: "#/components/requestBodies/FindProjectRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindProjectResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=usermaster.UserMaster&method=importTinyUserMaster:
    post:
      tags:
        - マスタAPI
      summary: 外部マスタ(標準)取込
      description:
        外部マスタ(標準)をインポートします。
      operationId: importTinyUserMaster
      requestBody:
        $ref: "#/components/requestBodies/ImportTinyUserMasterRequest"
      responses:
        "200":
          $ref: "#/components/responses/CountResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=usermaster.UserMaster&method=exportTinyUserMaster:
    post:
      tags:
        - マスタAPI
      summary: 外部マスタ(標準)取得
      description:
        外部マスタ(標準)をエクスポートします。
      operationId: exportTinyUserMaster
      requestBody:
        $ref: "#/components/requestBodies/ExportUserMasterRequest"
      responses:
        "200":
          $ref: "#/components/responses/CsvResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=usermaster.UserMaster&method=importUserMaster:
    post:
      tags:
        - マスタAPI
      summary: 外部マスタ(拡張)取込
      description:
        外部マスタ(拡張)をインポートします。
      operationId: importUserMaster
      requestBody:
        $ref: "#/components/requestBodies/ImportUserMasterRequest"
      responses:
        "200":
          $ref: "#/components/responses/CountResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=usermaster.UserMaster&method=exportUserMaster:
    post:
      tags:
        - マスタAPI
      summary: 外部マスタ(拡張)取得
      description:
        外部マスタ(拡張)をエクスポートします。
      operationId: exportUserMaster
      requestBody:
        $ref: "#/components/requestBodies/ExportUserMasterRequest"
      responses:
        "200":
          $ref: "#/components/responses/CsvResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=form.Form&method=listComponentMasterWindow:
    post:
      tags:
        - フォーム管理API
      summary: マスター参照コンポーネント一覧取得
      description:
        マスター参照コンポーネント一覧を取得します。
      operationId: listComponentMasterWindow
      responses:
        "200":
          $ref: "#/components/responses/ListComponentMasterWindowResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=form.Form&method=listComponentAutoNumber:
    post:
      tags:
        - フォーム管理API
      summary: 自動採番コンポーネント一覧取得
      description:
        自動採番コンポーネント一覧を取得します。
      operationId: listComponentAutoNumber
      responses:
        "200":
          $ref: "#/components/responses/ListComponentAutoNumberResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=form.Form&method=listForm:
    post:
      tags:
        - フォーム管理API
      summary: 登録フォーム一覧取得
      description:
        登録フォーム一覧を取得します。
      operationId: listForm
      requestBody:
        $ref: "#/components/requestBodies/ListFormRequest"
      responses:
        "200":
          $ref: "#/components/responses/ListFormResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=form.Form&method=findFormDefinition:
    post:
      tags:
        - フォーム管理API
      summary: フォーム定義情報取得
      description:
        フォーム定義情報を取得します。
      operationId: findFormDefinition
      requestBody:
        $ref: "#/components/requestBodies/FindFormDefinitionRequest"
      responses:
        "200":
          $ref: "#/components/responses/FindFormDefinitionResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /WebApi/Service?name=publication.Publication&method=listPublicFolderInfo:
    post:
      tags:
        - 公開API
      summary: 公開フォルダ・公開フォーム取得
      description:
        公開フォルダ・公開フォーム一覧を取得します。
      operationId: listPublicFolderInfo
      requestBody:
        $ref: "#/components/requestBodies/ListPublicFolderInfoRequest"
      responses:
        "200":
          $ref: "#/components/responses/ListPublicFolderInfoResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
 # --------------------------------------------------------------------------------------------------

# -----------------------------------------------
# コンポーネントの定義
# -----------------------------------------------

components:

      
    # -----------------------------------------------
    # リクエスト components/requestBodies
    # -----------------------------------------------

  requestBodies:
    docId:
      content:
        application/json:
          schema:
            description: 書類ID
            type: integer
            example: 999
    
    docId2:
      content:
        application/json:
          schema:
            description: 書類ID
            type: integer
            example: 998
    
    PrepareDocRequestRequest:
      content:
        application/json:
          schema:
            required:
              - applyUnitCode
              - applyUserCode
              - formCode
              - ruleCode
            allOf:
              - $ref: "#/components/schemas/PrepareDocRequestRequest"
          example:
            applyUnitCode: unit01
            applyUserCode: user01
            stepCode: 
            referenceDocId: 
            formCode: form01
            ruleCode: rule01
            criterionDate: 2024-10-31 00:00:00 JST
    
    AddDocRequest:
      content:
        application/json:
          schema:
            required:
              - publicFormId
              - docData
              - formCode
            allOf:
              - $ref: "#/components/schemas/AddDocRequest"
          example:
            publicFormId: 222
            docData:
              entryList:
                entries:
                  - fieldType: TEXTFIELD
                    fieldId: textfield1
                    dataType: STRING
                    dataValue:
                      entryList:
                        entries: []
                      value: 
                    name: 文字フィールド１
                  - fieldType: INTEGERFIELD
                    fieldId: integerfield1
                    dataType: INT
                    dataValue:
                      entryList:
                        entries: []
                      value: 
                    name: 整数フィールド１
            id: 
            formCode: form01
            criterionDate: 2024-10-31 00:00:00 JST
            adminNo: 
            listNames:
              listName1: 
              listName2: 
              listName3: 
              listName4: 
              listName5: 
              listName6: 
              listName7: 
              listName8: 
              listName9: 
              listName10: 
              listName11: 
              listName12: 
              listName13: 
              listName14: 
              listName15: 
              listName16: 
              listName17: 
              listName18: 
              listName19: 
              listName20: 
            version: 
            owner:
              code: 
              type: 
    
    UpdateDocRequest:
      content:
        application/json:
          schema:
            required:
              - publicFormId
              - docData
              - id
              - formCode
              - criterionDate
              - adminNo
              - listNames
              - version
              - owner
            allOf:
              - $ref: "#/components/schemas/UpdateDocRequest"
          example:
            publicFormId: 222
            docData:
              entryList:
                entries:
                  - fieldType: TEXTFIELD
                    fieldId: textfield1
                    dataType: STRING
                    dataValue:
                      entryList:
                        entries: []
                      value: update
                    name: 文字フィールド１
                  - fieldType: INTEGERFIELD
                    fieldId: integerfield1
                    dataType: INT
                    dataValue:
[...]
