swagger: '2.0'
info:
  title: '[AW]R3系 WebAPIテストケース整理'
  version: 1.0.0
host: sample.atled.jp
basePath: /AgileWorks/Broker
schemes:
  - https
paths:
  /SCIM/Groups:
    get:
      produces:
        - application/json
      parameters:
        - description: |
            フィルター<br>
            組織コード(externalId)、組織名称(displayName)を絞り込むときに指定します。<br>
            *使用できる演算子はeqのみになります。<br>
          in: query
          name: filter
          type: string
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                Resources:
                  - displayName: unit001
                    externalId: unit001
                    id: 999
                    schemas:
                      - 'urn:ietf:params:scim:schemas:core:2.0:Group'
                schemas:
                  - 'urn:ietf:params:scim:api:messages:2.0:ListResponse'
                totalResults: 1
          schema:
            properties:
              Resources:
                description: 組織情報
                items:
                  properties:
                    displayName:
                      description: 組織名称
                      type: string
                    externalId:
                      description: 組織コード
                      type: string
                    id:
                      description: 組織ID
                      type: integer
                    schemas:
                      description: |
                        スキーマ<br>
                        *"urn:ietf:params:scim:schemas:core:2.0:Group" 固定
                      type: string
                  type: object
                type: array
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:api:messages:2.0:ListResponse" 固定
                type: string
              totalResults:
                description: 検索結果件数
                type: integer
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Groups
      description: 指定された条件を元にユーザー情報を取得します。
      operationId: SCIMGetGroups
      summary: 組織情報取得
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            properties:
              displayName:
                description: 組織名称
                example: unit001
                type: string
              externalId:
                description: 組織コード
                example: unit001
                type: string
            required:
              - externalId
              - displayName
            type: object
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                displayName: unit001
                externalId: unit001
                id: 999
                schemas:
                  - 'urn:ietf:params:scim:schemas:core:2.0:Group'
          schema:
            properties:
              displayName:
                description: 組織名称
                type: string
              externalId:
                description: 組織コード
                type: string
              id:
                description: 組織ID
                type: integer
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:schemas:core:2.0:Group" 固定
                type: string
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Groups
      description: リクエストボディに指定したデータを元に組織情報を作成します。
      operationId: SCIMPostGroups
      summary: 組織情報作成
  '/SCIM/Groups/{ORG_ID}':
    delete:
      produces:
        - application/json
      parameters:
        - description: 組織ID
          in: path
          name: ORG_ID
          required: true
          type: integer
      responses:
        '204':
          description: Successful response
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Groups
      description: >-
        パスに指定した組織IDに紐づく組織情報を削除します。<br> *削除方法について<br>
        組織情報削除APIは、履歴モードの状態で削除動作が異なります。<br> 履歴モード無効の場合：削除します<br>
        履歴モード有効の場合：適用終了します
      operationId: SCIMDeleteGroupsId
      summary: 組織情報削除
    get:
      produces:
        - application/json
      parameters:
        - description: 組織ID
          in: path
          name: ORG_ID
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                displayName: unit001
                externalId: unit001
                id: 999
                schemas:
                  - 'urn:ietf:params:scim:schemas:core:2.0:Group'
          schema:
            properties:
              displayName:
                description: 組織名称
                type: string
              externalId:
                description: 組織コード
                type: string
              id:
                description: 組織ID
                type: integer
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:schemas:core:2.0:Group" 固定
                type: string
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Groups
      description: パスに指定した組織IDに紐づく組織の情報を取得します。
      operationId: SCIMGetGroupsId
      summary: 指定組織情報取得
    patch:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 組織ID
          in: path
          name: ORG_ID
          required: true
          type: integer
        - in: body
          name: body
          schema:
            allOf:
              - properties:
                  Operations:
                    description: オペレーション
                    items:
                      properties:
                        op:
                          description: >
                            更新操作は以下が指定可能です。(大文字小文字は区別しません）<br>

                            追加(add)<br>

                            置換(replace)<br>

                            削除(remove)*<br>

                            *削除(remove)の操作はリソースの必須項目（externalId、displayName）に対して行うことはできません。<br>
                             必須指定の項目に削除(remove)の操作を行った場合はエラーレスポンスが返却されます。
                          type: string
                        path:
                          description: >
                            変更対象の属性のパス<br>

                            指定可能な値<br>

                            |path|AW項目|op(Add)|op(Replace)|op(Remove)|

                            |----|----|----|----|----|

                            |externalId|組織コード|valueで指定した値で更新します|valueで指定した値で更新します|指定できません|

                            |displayName|組織名称|〃|〃|〃|
                          type: string
                        value:
                          description: |
                            新しい値<br>
                            pathで指定した属性の更新する値
                          type: string
                      type: object
                    type: array
                  schemas:
                    description: |
                      スキーマ<br>
                      *"urn:ietf:params:scim:api:messages:2.0:PatchOp" 固定
                    type: string
                type: object
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                displayName: unit001
                externalId: unit001
                id: 999
                schemas:
                  - 'urn:ietf:params:scim:schemas:core:2.0:Group'
          schema:
            properties:
              displayName:
                description: 組織名称
                type: string
              externalId:
                description: 組織コード
                type: string
              id:
                description: 組織ID
                type: integer
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:schemas:core:2.0:Group" 固定
                type: string
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Groups
      description: パスに指定した組織IDに紐づく組織情報の指定項目のみを更新します。
      operationId: SCIMPatchGroupsId
      summary: 組織情報一部更新
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 組織ID
          in: path
          name: ORG_ID
          required: true
          type: integer
        - in: body
          name: body
          schema:
            properties:
              displayName:
                description: 組織名称
                example: unit001
                type: string
              externalId:
                description: 組織コード
                example: unit001
                type: string
            required:
              - externalId
              - displayName
            type: object
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                displayName: unit001
                externalId: unit001
                id: 999
                schemas:
                  - 'urn:ietf:params:scim:schemas:core:2.0:Group'
          schema:
            properties:
              displayName:
                description: 組織名称
                type: string
              externalId:
                description: 組織コード
                type: string
              id:
                description: 組織ID
                type: integer
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:schemas:core:2.0:Group" 固定
                type: string
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Groups
      description: パスに指定した組織IDに紐づく組織の情報を更新します。
      operationId: SCIMPostGroupsId
      summary: 組織情報更新
  /SCIM/ResourceTypes:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                Resources:
                  - description: User Account
                    endpoint: /Users
                    id: User
                    name: User
                    schema: 'urn:ietf:params:scim:schemas:core:2.0:User'
                    schemaExtensions:
                      - required: true
                        schema: >-
                          urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                    schemas:
                      - 'urn:ietf:params:scim:schemas:core:2.0:ResourceType'
                  - description: Group
                    endpoint: /Groups
                    id: Group
                    name: Group
                    schema: 'urn:ietf:params:scim:schemas:core:2.0:Group'
                    schemas:
                      - 'urn:ietf:params:scim:schemas:core:2.0:ResourceType'
                schemas:
                  - 'urn:ietf:params:scim:api:messages:2.0:ListResponse'
                totalResults: 2
          schema:
            properties:
              Resources:
                description: リソース情報リスト
                items:
                  properties:
                    description:
                      description: |
                        説明<br>
                        Userスキーマの場合："User Account"固定<br>
                        Groupスキーマの場合："Group"固定
                      type: string
                    endpoint:
                      description: |
                        エンドポイント<br>
                        Userスキーマの場合："/Users"固定<br>
                        Groupスキーマの場合："/Groups"固定
                      type: string
                    id:
                      description: |
                        ID<br>
                        Userスキーマの場合："User"固定<br>
                        Groupスキーマの場合："Group"固定
                      type: integer
                    name:
                      description: |
                        名称<br>
                        Userスキーマの場合："User"固定<br>
                        Groupスキーマの場合："Group"固定
                      type: string
                    schema:
                      description: >
                        スキーマ<br>

                        Userスキーマの場合："urn:ietf:params:scim:schemas:core:2.0:User"固定<br>

                        Groupスキーマの場合："urn:ietf:params:scim:schemas:core:2.0:Group"固定
                      type: string
                    schemaExtensions:
                      description: |
                        スキーマ拡張のリスト<br>
                        Groupスキーマの場合は無し
                      properties:
                        required:
                          description: |
                            スキーマ拡張フラグ<br>
                            リソースタイプにスキーマ拡張が必要かどうかを示すフラグ
                          type: boolean
                        schema:
                          description: >
                            拡張スキーマのURI<br>

                            "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"
                            固定
                          type: string
                      type: object
                    schemas:
                      description: |
                        スキーマ<br>
                        "urn:ietf:params:scim:schemas:core:2.0:ResourceType" 固定
                      type: string
                  type: object
                type: array
              schemas:
                description: |
                  応答時のスキーマタイプ<br>
                  *"urn:ietf:params:scim:api:messages:2.0:ListResponse" 固定
                type: string
              totalResults:
                description: |
                  検索結果件数<br>
                  *リソースの件数
                type: integer
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_ResourceTypes
      description: SCIMサーバーがサポートするリソースタイプ（USER、GROUP）に関する情報を提供するためのエンドポイントです。
      operationId: SCIMResourceTypes
      summary: リソース情報取得
  /SCIM/Schemas:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                Resources:
                  - attributes:
                      - caseExact: false
                        description: id
                        multiValued: false
                        mutability: readOnly
                        name: id
                        required: false
                        returned: always
                        type: integer
                        uniqueness: server
                      - caseExact: false
                        description: externalId
                        multiValued: false
                        mutability: readWrite
                        name: externalId
                        required: true
                        returned: always
                        type: string
                        uniqueness: server
                      - caseExact: false
                        description: userName
                        multiValued: false
                        mutability: readWrite
                        name: userName
                        required: true
                        returned: always
                        type: string
                        uniqueness: server
                      - caseExact: false
                        description: displayName
                        multiValued: false
                        mutability: readWrite
                        name: displayName
                        required: true
                        returned: always
                        type: string
                        uniqueness: none
                      - caseExact: false
                        description: locale
                        multiValued: false
                        mutability: writeOnly
                        name: locale
                        required: false
                        returned: never
                        type: string
                        uniqueness: none
                      - caseExact: false
                        description: active
                        multiValued: false
                        mutability: readWrite
                        name: active
                        required: false
                        returned: always
                        type: boolean
                        uniqueness: none
                      - caseExact: true
                        description: password
                        multiValued: false
                        mutability: writeOnly
                        name: password
                        required: false
                        returned: never
                        type: string
                        uniqueness: none
                      - caseExact: false
                        description: emails
                        multiValued: false
                        mutability: readWrite
                        name: emails
                        required: false
                        returned: always
                        type: complex
                        uniqueness: none
                      - caseExact: false
                        description: emails.value
                        multiValued: false
                        mutability: readWrite
                        name: emails.value
                        required: false
                        returned: always
                        type: string
                        uniqueness: none
                      - caseExact: false
                        description: emails.primary
                        multiValued: false
                        mutability: readWrite
                        name: emails.primary
                        required: false
                        returned: always
                        type: boolean
                        uniqueness: none
                      - caseExact: false
                        description: groups
                        multiValued: false
                        mutability: readWrite
                        name: groups
                        required: false
                        returned: always
                        type: complex
                        uniqueness: none
                      - caseExact: false
                        description: groups.value
                        multiValued: false
                        mutability: readWrite
                        name: groups.value
                        required: false
                        returned: always
                        type: string
                        uniqueness: server
                      - caseExact: false
                        description: groups.deisplay
                        multiValued: false
                        mutability: readWrite
                        name: groups.display
                        required: false
                        returned: always
                        type: string
                        uniqueness: none
                      - caseExact: false
                        description: roles
                        multiValued: false
                        mutability: readWrite
                        name: roles
                        required: false
                        returned: always
                        type: complex
                        uniqueness: none
                      - caseExact: false
                        description: roles.value
                        multiValued: false
                        mutability: readWrite
                        name: roles.value
                        required: false
                        returned: always
                        type: string
                        uniqueness: server
                      - caseExact: false
                        description: roles.display
                        multiValued: false
                        mutability: readWrite
                        name: roles.display
                        required: false
                        returned: always
                        type: string
                        uniqueness: none
                    description: User
                    id: 'urn:ietf:params:scim:schemas:core:2.0:User'
                    name: User
                  - attributes:
                      - caseExact: false
                        description: id
                        multiValued: false
                        mutability: readOnly
                        name: id
                        required: false
                        returned: always
                        type: integer
                        uniqueness: server
                      - caseExact: false
                        description: externalId
                        multiValued: false
                        mutability: readWrite
                        name: externalId
                        required: true
                        returned: always
                        type: string
                        uniqueness: server
                      - caseExact: false
                        description: displayName
                        multiValued: false
                        mutability: readWrite
                        name: displayName
                        required: true
                        returned: always
                        type: string
                        uniqueness: none
                    description: Group
                    id: 'urn:ietf:params:scim:schemas:core:2.0:Group'
                    name: Group
                schemas:
                  - 'urn:ietf:params:scim:api:messages:2.0:ListResponse'
                totalResults: 2
          schema:
            properties:
              Resources:
                description: リソース情報
                items:
                  properties:
                    attributes:
                      description: 属性
                      items:
                        properties:
                          caseExact:
                            description: 属性が大文字と小文字を区別するかどうかを指定するブール値
                            type: boolean
                          description:
                            description: 説明
                            type: string
                          multiValued:
                            description: 属性が複数の値を持つかどうかを示す属性
                            type: boolean
                          mutability:
                            description: |
                              属性に関する変更可能性<br>
                              mutable（変更可能）<br>
                              immutable（変更不可能）<br>
                              read-only（読み取り専用）<br>
                            type: string
                          name:
                            description: 属性名称
                            type: string
                          required:
                            description: 属性が必須かどうかを指定するブール値
                            type: boolean
                          returned:
                            description: |
                              属性が検索結果に含まれるかどうかを示す属性<br>
                              always（常に返される）<br>
                              default（デフォルトで返される）<br>
                              never（決して返されない）
                            type: string
                          type:
                            description: >
                              属性のタイプ（型）を示す属性<br>

                              boolean, decimal, integer, dateTime, reference,
                              complex
                            type: string
                          uniqueness:
                            description: |
                              属性における一意性（uniqueness）の制約を定義するための属性<br>
                              server（サーバー管理の一意性）<br>
                              global（グローバル一意性）<br>
                              uniqueness（一意性の制約なし）    
                        type: object
                      type: array
                    description:
                      description: |
                        説明<br>
                        Userスキーマの場合："User"固定<br>
                        Groupスキーマの場合："Group"固定
                      type: string
                    id:
                      description: >
                        ID<br>

                        Userスキーマの場合："urn:ietf:params:scim:schemas:core:2.0:User"固定<br>

                        Groupスキーマの場合："urn:ietf:params:scim:schemas:core:2.0:Group"固定
                      type: integer
                    name:
                      description: |
                        名称<br>
                        Userスキーマの場合："User"固定<br>
                        Groupスキーマの場合："Group"固定
                      type: string
                  type: object
                type: array
              schemas:
                description: |
                  応答時のスキーマタイプ<br>
                  *"urn:ietf:params:scim:api:messages:2.0:ListResponse" 固定
                type: string
              totalResults:
                description: |
                  検索結果件数<br>
                  *リソースの件数
                type: integer
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Schemas
      description: SCIM サーバーがサポートするスキーマ（データモデル）を定義し、それに関連する属性やメタデータを提供するためのエンドポイントです。
      operationId: SCIMSchemas
      summary: スキーマ定義取得
  /SCIM/ServiceProviderConfigs:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                authenticationSchemas:
                  - description: oauth2
                    name: oauth2
                    primary: true
                    specUri: 'https://datatracker.ietf.org/doc/html/rfc6749'
                    type: oauth2
                  - description: httpbasic
                    name: httpbasic
                    primary: false
                    specUri: 'https://datatracker.ietf.org/doc/html/rfc7617'
                    type: httpbasic
                bulk:
                  maxOperations: 0
                  maxPayloadSize: 0
                  supported: false
                changePassword:
                  supported: true
                etag:
                  supported: false
                filter:
                  maxResults: 1000
                  supported: true
                patch:
                  supported: true
                schemas:
                  - 'urn:ietf:params:scim:api:messages:2.0:ServiceProviderConfig'
                sort:
                  supported: false
          schema:
            properties:
              authenticationSchemas:
                description: 認証スキーマ
                items:
                  properties:
                    description:
                      description: |
                        認証の説明<br>
                        Oauth2認証の場合："oauth2"固定<br>
                        Basic認証の場合："httpbasic"固定
                      type: string
                    name:
                      description: |
                        認証名称<br>
                        Oauth2認証の場合："oauth2"固定<br>
                        Basic認証の場合："httpbasic"固定
                      type: string
                    primary:
                      description: |
                        優先<br>
                        Oauth2認証の場合："TRUE"固定、Basic認証の場合："FALSE"固定
                    specUri:
                      description: >
                        認証仕様URI<br>

                        Oauth2認証の場合："https://datatracker.ietf.org/doc/html/rfc6749"固定<br>

                        Basic認証の場合："https://datatracker.ietf.org/doc/html/rfc7617"固定
                      type: string
                    type:
                      description: |
                        認証スキーマ種別<br>
                        Oauth2認証の場合："oauth2"固定<br>
                        Basic認証の場合："httpbasic"固定
                      type: string
                  type: object
                type: array
              bulk:
                description: バルク
                properties:
                  maxOperation:
                    description: |
                      最大操作数<br>
                      バルクリクエスト内で許可される操作の最大数を示します。<br>
                      *0固定
                    type: integer
                  maxPayloadSize:
                    description: |
                      最大サイズ<br>
                      バルクリクエストのペイロード（データのサイズ）に許可される最大サイズを示します。<br>
                      *0固定
                    type: integer
                  supported:
                    description: |
                      サポート有無<br>
                      *false固定
                    type: boolean
                type: object
              changePassword:
                description: パスワード変更有無
                properties:
                  supported:
                    description: |
                      サポート有無<br>
                      *true固定
                    type: boolean
                type: object
              etag:
                description: etag
                properties:
                  supported:
                    description: |
                      サポート有無<br>
                      *false固定
                    type: boolean
                type: object
              filter:
                description: フィルター
                properties:
                  maxResults:
                    description: |
                      最大検索数<br>
                      *1000固定
                    type: integer
                  supported:
                    description: |
                      サポート有無<br>
                      *true固定
                    type: boolean
                type: object
              patch:
                description: パッチ
                properties:
                  supported:
                    description: |
                      サポート有無<br>
                      *true固定
                    type: boolean
                type: object
              schemas:
                description: >
                  スキーマ情報<br>

                  *"urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig
                  " 固定
                type: string
              sort:
                description: ソート
                properties:
                  supported:
                    description: |
                      サポート有無<br>
                      *false固定
                    type: boolean
                type: object
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Service
      description: SCIM サーバーがサポートするサービスプロバイダ構成情報に関する情報を提供するためのエンドポイントです。
      operationId: SCIMService
      summary: サービス定義取得
  /SCIM/Users:
    get:
      produces:
        - application/json
      parameters:
        - description: >
            フィルター<br>

            ユーザーコード(externalId)、ユーザー名称(displayName)、ログインID(userName)、メールアドレス(emails)を絞り込むときに指定します。<br>

            「externalId eq "{ユーザーコード}"」のように指定します。<br>

            *使用できる演算子はeqのみになります。<br>

            *検索結果が1000件を超えた場合、1000件まで応答する
          in: query
          name: filter
          type: string
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                Resources:
                  - active: true
                    displayName: user001
                    emails:
                      - primary: true
                        value: user001@atled.jp
                    externalId: user001
                    groups:
                      - display: org001
                        value: 8888
                    id: 999
                    roles:
                      - display: UR_001
                        value: 9999
                    schemas:
                      - 'urn:ietf:params:scim:schemas:core:2.0:User'
                    userName: user001
                schemas:
                  - 'urn:ietf:params:scim:api:messages:2.0:ListResponse'
                totalResults: 1
          schema:
            properties:
              Resources:
                description: ユーザー情報
                items:
                  properties:
                    active:
                      description: |
                        アカウント状態<br>
                        true：ログイン可能<br>
                        false：ログイン不可
                      type: boolean
                    displayName:
                      description: ユーザー名称
                      type: string
                    emails:
                      description: メール情報
                      items:
                        properties:
                          primary:
                            description: |
                              優先フラグ<br>
                              *true 固定
                            type: boolean
                          value:
                            description: メールアドレス
                            type: string
                        type: object
                      type: array
                    externalId:
                      description: ユーザーコード
                      type: string
                    groups:
                      description: グループ情報
                      items:
                        properties:
                          display:
                            description: 表示名
                            type: string
                          value:
                            description: |
                              グループID<br>
                              *組織
                            type: integer
                        type: object
                      type: array
                    id:
                      description: ユーザーID
                      type: integer
                    roles:
                      description: ロール情報
                      items:
                        properties:
                          display:
                            description: 表示名
                            type: string
                          value:
                            description: |
                              ロールID<br>
                              *ユニバーサルロール
                            type: integer
                        type: object
                      type: array
                    schemas:
                      description: |
                        スキーマ<br>
                        *"urn:ietf:params:scim:schemas:core:2.0:User" 固定
                      type: string
                    userName:
                      description: ログインID
                      type: string
                  type: object
                type: array
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:api:messages:2.0:ListResponse" 固定
                type: string
              totalResults:
                description: 検索結果件数
                type: integer
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Users
      description: 指定された条件を元にユーザー情報を取得します。
      operationId: SCIMGetUsers
      summary: ユーザー情報取得
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            properties:
              active:
                description: |
                  アカウント状態<br>
                  true：ログイン可能<br>
                  false：ログイン不可
                type: boolean
              displayName:
                description: ユーザー名称
                type: string
              emails:
                description: メール情報
                items:
                  properties:
                    primary:
                      description: 優先フラグ
                      type: boolean
                    value:
                      description: メールアドレス
                      type: string
                  type: object
                type: array
              externalId:
                description: ユーザーコード
                type: string
              groups:
                description: グループ情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        グループID<br>
                        *組織
                      type: integer
                  type: object
                type: array
              locale:
                description: 言語
                type: string
              password:
                description: パスワード
                type: string
              roles:
                description: ロール情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        ロールID<br>
                        *ユニバーサルロール
                      type: integer
                  type: object
                type: array
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:schemas:core:2.0:User" 固定
                type: string
              userName:
                description: ログインID
                type: string
            required:
              - externalId
              - userName
              - displayName
            type: object
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                active: true
                displayName: user001
                emails:
                  - primary: true
                    value: user001@atled.jp
                externalId: user001
                groups:
                  - display: org001
                    value: 8888
                id: 999
                roles:
                  - display: UR_001
                    value: 9999
                schemas:
                  - 'urn:ietf:params:scim:schemas:core:2.0:User'
                userName: user001
          schema:
            properties:
              active:
                description: |
                  アカウント状態<br>
                  true：ログイン可能<br>
                  false：ログイン不可
                type: boolean
              displayName:
                description: ユーザー名称
                type: string
              emails:
                description: メール情報
                items:
                  properties:
                    primary:
                      description: |
                        優先フラグ<br>
                        *true 固定
                      type: boolean
                    value:
                      description: メールアドレス
                      type: string
                  type: object
                type: array
              externalId:
                description: ユーザーコード
                type: string
              groups:
                description: グループ情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        グループID<br>
                        *組織
                      type: integer
                  type: object
                type: array
              id:
                description: ユーザーID
                type: integer
              roles:
                description: ロール情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        ロールID<br>
                        *ユニバーサルロール
                      type: integer
                  type: object
                type: array
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:schemas:core:2.0:User" 固定
                type: string
              userName:
                description: ログインID
                type: string
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Users
      description: リクエストボディに指定したデータを元にユーザー情報を作成します。
      operationId: SCIMPostUsers
      summary: ユーザー情報作成
  '/SCIM/Users/{USER_ID}':
    delete:
      produces:
        - application/json
      parameters:
        - description: ユーザーID
          in: path
          name: USER_ID
          required: true
          type: integer
      responses:
        '204':
          description: Successful response
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Users
      description: >-
        パスに指定したユーザーIDに紐づくユーザー情報を削除します。<br> *削除方法について<br>
        ユーザー情報削除APIは、履歴モードの状態で削除動作が異なります。<br> 履歴モード無効の場合：削除します<br>
        履歴モード有効の場合：適用終了します
      operationId: SCIMDeleteUsersId
      summary: ユーザー情報削除
    get:
      produces:
        - application/json
      parameters:
        - description: ユーザーID
          in: path
          name: USER_ID
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                active: true
                displayName: user001
                emails:
                  - primary: true
                    value: user001@atled.jp
                externalId: user001
                groups:
                  - display: org001
                    value: 8888
                id: 999
                roles:
                  - display: UR_001
                    value: 9999
                schemas:
                  - 'urn:ietf:params:scim:schemas:core:2.0:User'
                userName: user001
          schema:
            properties:
              active:
                description: |
                  アカウント状態<br>
                  true：ログイン可能<br>
                  false：ログイン不可
                type: boolean
              displayName:
                description: ユーザー名称
                type: string
              emails:
                description: メール情報
                items:
                  properties:
                    primary:
                      description: |
                        優先フラグ<br>
                        *true 固定
                      type: boolean
                    value:
                      description: メールアドレス
                      type: string
                  type: object
                type: array
              externalId:
                description: ユーザーコード
                type: string
              groups:
                description: グループ情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        グループID<br>
                        *組織
                      type: integer
                  type: object
                type: array
              id:
                description: ユーザーID
                type: integer
              roles:
                description: ロール情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        ロールID<br>
                        *ユニバーサルロール
                      type: integer
                  type: object
                type: array
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:schemas:core:2.0:User" 固定
                type: string
              userName:
                description: ログインID
                type: string
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Users
      description: パスに指定したユーザーIDに紐づくユーザーの情報を取得します。
      operationId: SCIMGetUsersId
      summary: 指定ユーザー情報取得
    patch:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: ユーザーID
          in: path
          name: USER_ID
          required: true
          type: integer
        - in: body
          name: body
          schema:
            allOf:
              - properties:
                  Operations:
                    description: オペレーション
                    items:
                      properties:
                        op:
                          description: >
                            操作タイプ<br>

                            更新操作は以下が指定可能です。(大文字小文字は区別しません）<br>

                            追加(add)<br>

                            置換(replace)<br>

                            削除(remove)*<br>

                            *削除(remove)の操作はリソースの必須項目（externalId、displayName、userName）に対して行うことはできません。<br>
                             必須指定の項目に削除(remove)の操作を行った場合はエラーレスポンスが返却されます。
                          type: string
                        path:
                          description: >
                            変更対象属性<br>

                            指定可能な値<br>

                            |path|AW項目|op(Add)|op(Replace)|op(Remove)|

                            |----|----|----|----|----|

                            |externalId|ユーザーコード|valueで指定した値で更新します|valueで指定した値で更新します|指定できません|

                            |displayName|ユーザー名称|〃|〃|〃|

                            |userName|ログインID|〃|〃|〃|

                            |password|パスワード|〃|〃|変更しない|

                            |active|アカウントロック|〃|〃|〃|

                            |emails|メールアドレス|〃|〃|null固定|

                            |locale|表示言語|〃|〃|既定の言語に更新します。|

                            |roles|ユニバーサルロール|valueで指定したユニバーサルロールを追加します|valueで指定したユニバーサルロールに置き換えます|ユーザーが所持している既存のユニバーサルロールを適用終了又は削除します*|

                            |groups|所属組織|valueで指定した所属組織を追加します|valueで指定した所属組織に置き換えます|ユーザーが所属している既存の所属組織を適用終了又は削除します*|

                            *履歴モードの状態によって動作が変わります<br>
                             無効：削除します / 有効：適用終了します
                          type: string
                        value:
                          description: |
                            新しい値<br>
                            pathで指定した属性の更新する値
                          type: string
                      required:
                        - op
                        - path
                      type: object
                    type: array
                  schemas:
                    description: |
                      スキーマ<br>
                      *"urn:ietf:params:scim:api:messages:2.0:PatchOp" 固定
                    type: string
                type: object
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                active: true
                displayName: user001
                emails:
                  - primary: true
                    value: user001@atled.jp
                externalId: user001
                groups:
                  - display: org001
                    value: 8888
                id: 999
                roles:
                  - display: UR_001
                    value: 9999
                schemas:
                  - 'urn:ietf:params:scim:schemas:core:2.0:User'
                userName: user001
          schema:
            properties:
              active:
                description: |
                  アカウント状態<br>
                  true：ログイン可能<br>
                  false：ログイン不可
                type: boolean
              displayName:
                description: ユーザー名称
                type: string
              emails:
                description: メール情報
                items:
                  properties:
                    primary:
                      description: |
                        優先フラグ<br>
                        *true 固定
                      type: boolean
                    value:
                      description: メールアドレス
                      type: string
                  type: object
                type: array
              externalId:
                description: ユーザーコード
                type: string
              groups:
                description: グループ情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        グループID<br>
                        *組織
                      type: integer
                  type: object
                type: array
              id:
                description: ユーザーID
                type: integer
              roles:
                description: ロール情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        ロールID<br>
                        *ユニバーサルロール
                      type: integer
                  type: object
                type: array
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:schemas:core:2.0:User" 固定
                type: string
              userName:
                description: ログインID
                type: string
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Users
      description: パスに指定したユーザーIDに紐づくユーザー情報の指定項目のみを更新します。
      operationId: SCIMPatchUsersId
      summary: ユーザー情報一部更新
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: ユーザーID
          in: path
          name: USER_ID
          required: true
          type: integer
        - in: body
          name: body
          schema:
            properties:
              active:
                description: |
                  アカウント状態<br>
                  true：ログイン可能<br>
                  false：ログイン不可
                type: boolean
              displayName:
                description: ユーザー名称
                type: string
              emails:
                description: メール情報
                items:
                  properties:
                    primary:
                      description: 優先フラグ
                      type: boolean
                    value:
                      description: メールアドレス
                      type: string
                  type: object
                type: array
              externalId:
                description: ユーザーコード
                type: string
              groups:
                description: グループ情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        グループID<br>
                        *組織
                      type: integer
                  type: object
                type: array
              locale:
                description: 言語
                type: string
              roles:
                description: ロール情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        ロールID<br>
                        *ユニバーサルロール
                      type: integer
                  type: object
                type: array
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:schemas:core:2.0:User" 固定
                type: string
              userName:
                description: ログインID
                type: string
            required:
              - externalId
              - userName
              - displayName
            type: object
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              value:
                active: true
                displayName: user001
                emails:
                  - primary: true
                    value: user001@atled.jp
                externalId: user001
                groups:
                  - display: org001
                    value: 8888
                id: 999
                roles:
                  - display: UR_001
                    value: 9999
                schemas:
                  - 'urn:ietf:params:scim:schemas:core:2.0:User'
                userName: user001
          schema:
            properties:
              active:
                description: |
                  アカウント状態<br>
                  true：ログイン可能<br>
                  false：ログイン不可
                type: boolean
              displayName:
                description: ユーザー名称
                type: string
              emails:
                description: メール情報
                items:
                  properties:
                    primary:
                      description: |
                        優先フラグ<br>
                        *true 固定
                      type: boolean
                    value:
                      description: メールアドレス
                      type: string
                  type: object
                type: array
              externalId:
                description: ユーザーコード
                type: string
              groups:
                description: グループ情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        グループID<br>
                        *組織
                      type: integer
                  type: object
                type: array
              id:
                description: ユーザーID
                type: integer
              roles:
                description: ロール情報
                items:
                  properties:
                    display:
                      description: 表示名
                      type: string
                    value:
                      description: |
                        ロールID<br>
                        *ユニバーサルロール
                      type: integer
                  type: object
                type: array
              schemas:
                description: |
                  スキーマ<br>
                  *"urn:ietf:params:scim:schemas:core:2.0:User" 固定
                type: string
              userName:
                description: ログインID
                type: string
            type: object
        '400':
          description: リクエストに問題があります。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 400
                type: integer
            type: object
        '401':
          description: 認証に失敗した際のエラーです。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 401
                type: integer
            type: object
        '403':
          description: リソースにアクセスする権限がありません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 403
                type: integer
            type: object
        '404':
          description: リクエストしたリソースが見つかりません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 404
                type: integer
            type: object
        '500':
          description: サーバー内部でエラーが発生しました。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 500
                type: integer
            type: object
        '503':
          description: サービスが一時的に利用できません。
          schema:
            properties:
              detail:
                example: '{エラーメッセージ}'
                type: string
              schemas:
                example:
                  - 'urn:ietf:params:scim:api:messages:2.0:Error'
                type: string
              status:
                example: 503
                type: integer
            type: object
      tags:
        - SCIMAPI_Users
      description: パスに指定したユーザーIDに紐づくユーザーの情報を更新します。<br> *リクエストボディで指定しなかった項目は、更新されません。
      operationId: SCIMPostUsersId
      summary: ユーザー情報更新
  /WebApi/Download:
    get:
      produces:
        - application/octet-stream
        - application/json
      parameters:
        - description: |
            {ファイルID}<br>
            事前に他のAPIで取得した system.StorageFileModel 型の値を指定してください。<br>
            ・ファイルID : ファイルを特定する識別子。他のAPIで事前に取得する
          in: query
          name: s
          type: string
      responses:
        '200':
          description: |
            取得したファイル名は、Content-Disposition レスポンスヘッダに以下の形式で格納されます。<br>
            ・ファイル名が全て ASCII 文字で構成される場合<br>
            attachment;filename="<ファイル名>"<br>
            ・ファイル名に ASCII 以外の文字を含む場合<br>
            attachment;filename="<URL エンコードされたファイル名>"
          examples:
            application/octet-stream: ファイルの内容（バイナリデータ）
        '400':
          description: Error response(Bad Request)
          schema:
            properties:
              error_code:
                example: 400
                type: integer
              error_message:
                example: '{エラーメッセージ}'
                type: string
            type: object
        '401':
          description: Error response(Unauthorized)
          schema:
            properties:
              error_code:
                example: 401
                type: integer
              error_message:
                example: '{エラーメッセージ}'
                type: string
            type: object
        '404':
          description: Error response(Not Found)
          schema:
            properties:
              error_code:
                example: 404
                type: integer
              error_message:
                example: '{エラーメッセージ}'
                type: string
            type: object
        '500':
          description: Error response(Internal Server Error)
          schema:
            properties:
              error_code:
                example: 500
                type: integer
              error_message:
                example: '{エラーメッセージ}'
                type: string
            type: object
        '503':
          description: Error response(Service unavailable)
          schema:
            properties:
              error_code:
                example: 503
                type: integer
              error_message:
                example: '{エラーメッセージ}'
                type: string
            type: object
      tags:
        - 共通
      description: AgileWorks上にアップロードされている各ファイルをダウンロードします。
      operationId: download
      summary: ダウンロード
  /WebApi/Model:
    get:
      produces:
        - application/json
      parameters:
        - description: >
            {名前空間}.{モデル名}<br>

            取得したいモデルオブジェクトに応じて指定してください。<br>

            ・名前空間：common, doc, workflow, org, site, usermaster, form,
            publication<br>

            ・モデル名：APIの各ページのスキーマを参照
          in: query
          name: name
          type: string
      responses:
        '200':
          description: 詳細は各サービス実行APIのリクエストボディを参照してください。
        '400':
          description: Error response(Bad Request)
          schema:
            properties:
              error_code:
                example: 400
                type: integer
              error_message:
                example: '{エラーメッセージ}'
                type: string
            type: object
        '401':
          description: Error response(Unauthorized)
          schema:
            properties:
              error_code:
                example: 401
                type: integer
              error_message:
                example: '{エラーメッセージ}'
                type: string
            type: object
        '404':
          description: Error response(Not Found)
          schema:
            properties:
              error_code:
                example: 404
                type: integer
              error_message:
                example: '{エラーメッセージ}'
                type: string
            type: object
        '500':
          description: Error response(Internal Server Error)
          schema:
            properties:
              error_code:
                example: 500
                type: integer
              error_message:
                example: '{エラーメッセージ}'
                type: string
            type: object
        '503':
          description: Error response(Service unavailable)
          schema:
            properties:
              error_code:
                example: 503
                type: integer
              error_message:
                example: '{エラーメッセージ}'
                type: string
            type: object
      tags:
        - 共通
      description: 指定のモデルオブジェクトを初期化した状態で取得します。
      operationId: model
      summary: モデルオブジェクト取得
  /WebApi/Service:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: |
            {名前空間}.{サービス名}<br>
            使用したいAPIに応じて指定してください。<br>
            ・名前空間：doc, workflow, org, site, usermaster, form, publication<br>
            ・サービス名：Doc, Workflow, Org, Site, UserMaster, Form, Publication
          in: query
          name: name
          type: string
        - description: |
            {メソッド名}<br>
            使用したいAPIに応じて指定してください。<br>
            ・メソッド名：APIの各ページを参照
          in: query
          name: service_method
          type: string
        - in: body
          name: body
          schema:
[...]
